<form nz-form [formGroup]="passwordForm" (ngSubmit)="passwordFormstep2()">
  <div style="width: 600px;margin-left: 20%;margin-top: 50px;" se-container="1" labelWidth="200">
    <se label="Mật khẩu mới">
      <nz-form-item>
          <nz-form-control [nzErrorTip]="soluong">
              <input nz-input nz-tooltip="Mật khẩu phải từ 6 ký tự trở lên" type="password" name="password" id="password" (click)="getText()" placeholder="Nhập mật khẩu mới"
                  [(ngModel)]="account.password" formControlName="password"
                  class="input-table" required />
              <ng-template #soluong let-i>
                  <ng-container *ngIf="i.errors?.required">Vui lòng nhập mật khẩu
                  </ng-container>
                  <ng-container *ngIf="i.errors?.minLength">Mật khẩu phải dài hơn 6 ký tự
                  </ng-container>
              </ng-template>
          </nz-form-control>
      </nz-form-item>
    </se>
    <se label="Xác nhận mật khẩu mới" required
      error="Xác nhận mật khẩu mới">
      <input nz-input type="password" name="password2" id="password2" formControlName="confirm"
        placeholder="Xác nhận mật khẩu mới" />
    </se>
      <label style="margin: 0px 0px 10px 215px;color: white" name="passwordgiong" id="passwordgiong">Mật khẩu nhập lại không giống nhau</label>
      <se>
      <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="passwordFormstep2()">
        Xác nhận
      </button>
      <button nz-button (click)="prev()">
        Quay lại
      </button>
    </se>
  </div>
</form>