.displayDiv {
  display: flex;
}

.divMargin {
  margin-right: 20px;
}

label {
  margin-left: 5px;
}

button {
  margin-top: 10px;
}

#clockdiv {
  margin: 0px 0px 0px 50px;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 4px;
  border-radius: 3px;
  background: #43aed7;
  display: inline-block;
}

#clockdiv div > span {
  padding: 10px;
  border-radius: 3px;
  background: #4b90ff;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

#baiTap {
  display: none;
}

h2 {
  color: #396;
  font-weight: 100;
  margin: 10px 0px 20px;
}

.clockdivCon {
  margin-left: 25%;
}

.tenCauHoi {
  display: flex;
}
.divMargin {
  margin-bottom: 10px;
}
