<form name="demo">
  <div class="clockdivCon">
    <button nz-button nzType="primary" id="start" (click)="timeAnswer()">
      Start
    </button>
    <div id="clockdiv">
      <div><span id="minute" class="minutes"></span>:mm</div>
      &nbsp;
      <div><span id="second" class="seconds"></span>:ss</div>
    </div>
  </div>
  <div id="baiTap">
    <h2>Chọn đáp án đúng nhất!</h2>
    <div class="divMargin" *ngFor="let ques of questions; let in = index">
      <label class="tenCauHoi"
        ><strong>Câu hỏi {{ in + 1 }}</strong
        >:
      </label>
      <p style="margin: -22px 0px 0px 75px;" [innerHTML]="ques.content">
        {{ ques.content }}
      </p>
      <div class="currentValue"></div>
      <div>
        <div class="displayDiv">
          <div class="divMargin">
            <label>
              <input
                [innerHTML]="ques.answerA"
                type="radio"
                name="{{ ques.id }}"
                id="A"
                [value]="ans.answerQuiz"
                (change)="onItemChange($event.target.id, $event.target.name)"
                [innerHTML]="ques.answerA"
              />
              {{ ques.answerA }}</label
            >
          </div>
          <div>
            <label>
              <input
                type="radio"
                name="{{ ques.id }}"
                id="B"
                [value]="ans.answerQuiz"
                (change)="onItemChange($event.target.id, $event.target.name)"
                [innerHTML]="ques.answerB"
              />
              {{ ques.answerB }}</label
            >
          </div>
        </div>
        <div class="displayDiv">
          <div class="divMargin">
            <label>
              <input
                type="radio"
                name="{{ ques.id }}"
                id="C"
                [value]="ans.answerQuiz"
                (change)="onItemChange($event.target.id, $event.target.name)"
                [innerHTML]="ques.answerC"
              />
              {{ ques.answerC }}</label
            >
          </div>
          <div>
            <label>
              <input
                type="radio"
                name="{{ ques.id }}"
                id="D"
                [value]="ans.answerQuiz"
                (change)="onItemChange($event.target.id, $event.target.name)"
                [innerHTML]="ques.answerD"
              />
              {{ ques.answerD }}</label
            >
          </div>
        </div>
      </div>
    </div>

    <button
      nz-button
      nzType="primary"
      style="margin-left: 45%;"
      id="nopBai"
      (click)="postAnswer()"
    >
      Nộp bài
    </button>
  </div>

  <nz-modal
    id="modal"
    [(nzVisible)]="isVisible"
    [nzClosable]="false"
    [nzCancelText]="null"
    nzOkText="Ok"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    nzWidth="800px"
  >
    <h2 id="diem">Điểm của bạn là: {{ diem }}</h2>
    <p id="loiNhac"></p>
  </nz-modal>
</form>
