<div class="alain-default__content-title">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/blog">/ Blog</a>
  </h1>
</div>

<ul nz-menu nzMode="horizontal" class="chiaUL">
  <!-- tìm kiếm -->
  <li class="search">
    <div>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input
          type="text"
          nz-input
          placeholder="Tìm kiếm blog"
          [(ngModel)]="searchText"
        />
      </nz-input-group>
      <ng-template #prefixTemplateUser
        ><i nz-icon nzType="search" nzTheme="outline"></i>
      </ng-template>
    </div>
  </li>
</ul>

<!--Danh sách blog -->
<nz-list nzItemLayout="vertical">
  <nz-list-item
    *ngFor="
      let blog of blogs
        | filter: searchText
        | paginate: { itemsPerPage: 5, currentPage: page }
    "
    class="div1 div2"
  >
    <nz-list-item-meta>
      <!-- ảnh -->
      <nz-list-item-meta-avatar>
        <img class="classimg" src="{{ blog.picture }}" />
      </nz-list-item-meta-avatar>
    </nz-list-item-meta>

    <div class="content">
      <!-- tiêu đề-->
      <nz-list-item-meta-title>
        <h2>{{ blog.title }}</h2>
      </nz-list-item-meta-title>
      <!-- mô tả -->
      <nz-list-item-meta-description> </nz-list-item-meta-description>

      <nz-list-item-meta-description>
        <div class="collapse mt-4" id="boxnoidung" *ngIf="blog">
          <p id="demo">
            {{ blog.content.slice(0, 100) + "..." }}
          </p>
        </div>
      </nz-list-item-meta-description>

      <ul nz-list-item-actions class="">
        <nz-list-item-action>Tác giả: Admin</nz-list-item-action>
      </ul>
      <div style="margin: -20px 0px 0px 800px;">
        <div style="margin: 0px 0px 0px -70px;">
          <ul nz-list-item-actions class="soLuotXem">
            <nz-list-item-action
              ><i nz-icon nzType="eye" style="margin-right: 8px;"></i
              >{{ blog.view }}
            </nz-list-item-action>
          </ul>
        </div>
        <div style="margin: -25px 0px 0px 7%;">
          <button
            nz-button
            [nzType]="'primary'"
            class="batDauHoc"
            aria-expanded="false"
            data-toggle="collapse"
            data-target="#boxnoidung"
            routerLink="/f-learn.poly/blog/{{ blog.id }}"
            (click)="putBlog(blog.id)"
          >
            Xem chi tiết
          </button>
        </div>
      </div>
    </div>
  </nz-list-item>

  <pagination-controls
    previousLabel=""
    nextLabel=""
    (pageChange)="page = $event"
  ></pagination-controls>
</nz-list>
