.search {
  width: 50%;
}

.chiaUL {
  display: flex;
}

.classimg {
  width: 250px;
  height: 250px;
}

img {
  width: 250px;
  height: 250px;
}

.displayitem {
  display: flex;
}

.nz-card {
  height: 200px;
}

nz-avatar {
  width: 300px;
  height: 300px;
}

.batDauHoc {
  margin-right: 20px;
  margin-left: 10px;
}

.phanTrang {
  margin-left: 900px;
}

.div1 {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}

.div2 {
  margin-bottom: 20px;
  width: 100%;
}

.content {
  width: 78%;
}

.soLuotXem {
  margin-top: 0px;
}

.view1 {
  width: 10%;
}

.search-area {
  display: flex;
  margin-top: 150%;
}

.combobox {
  width: 30%;
  margin-left: 50%;
}
