.login-form {
  max-width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
