<div class="alain-default__content-title">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/evaluate">/ Đánh giá</a>
  </h1>
</div>

<div>
  <form nz-form class="login-form">
    <div>
      <h2>Đánh giá năng lực lập trình của bạn</h2>
    </div>

    <div>
      <p>Tham gia đánh giá năng lực lập trình để xác định khả năng của bạn và định hướng phát triển những kỹ năng phù
        hợp.
      </p>
    </div>

    <button nz-button class="" [nzType]="'primary'">Bắt đầu đánh giá</button>
  </form>
</div>

<div>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
    <tr>
      <th>Người đánh giá</th>
      <th>Tên bài đánh giá</th>
      <th>Ngày đánh giá</th>
      <th>Thời gia thi</th>
      <th>Điểm</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
      <td>
        <a>Action 一 {{ data.name }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
