<a nz-button nzType="primary" routerLink="/money/subject-add" class="bnt-history">Add</a>
<nz-table #filterTable nzShowSizeChanger [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>Code</th>
      <th>
        <!--*ngFor="let column of listOfColumns; trackBy: trackByName"-->
        <!--[nzSortFn]="column.sortFn"-->
        <!--[nzFilters]="column.listOfFilter"-->
        <!--[nzFilterFn]="column.filterFn"-->

        <!--{{ column.name }}-->
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ data.name }}</td>
      <td><img [src]="data.urlLink" /></td>
      <td>{{ data.description }}</td>
      <td>
        <a nz-button nzType="primary" routerLink="/money/manage-post/{{ data.id }}">Show</a>
        <a nz-button nzType="primary" routerLink="/money/subject-edit/{{ data.id }}">Update</a>
        <a nz-button nzType="primary" (click)="deleteSubject(i, items.value[i].id)">Xoá</a>
      </td>
    </tr>
    <!-- <tr *ngFor="let data of items.controls; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ items.value[i].name }}</td>
    <td><img [src]="items.value[i].urlLink" /></td>
    <td>{{ items.value[i].description }}</td>
    <td>
      <a nz-button nzType="primary" routerLink="/money/manage-post/{{ items.value[i].id }}">Show</a>
      <a nz-button nzType="primary" routerLink="/money/subject-edit/{{ items.value[i].id }}">Update</a>
      <a nz-button nzType="primary" (click)="deleteSubject(i, items.value[i].id)">Xoá</a>
    </td>
  </tr> -->
  </tbody>
</nz-table>
