<section class="sign-in">
    <div class="container-login">
        <div class="signup-content-login">
            <div class="signup-form-login">
                <h2 class="form-title-login">
                    Đăng ký
                </h2>
                <form method="POST" class="register-form-login" [formGroup]="registerForm" id="register-form-login">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Vui lòng nhập đầy đủ họ tên đệm">
                            <nz-input-group nzSize="large" nzPrefixIcon="user">
                                <input nz-input type="text" [(ngModel)]="register.familyName" formControlName="familyName" placeholder="Họ và tên đệm" name="hotendem" (change)="checkTrimffamilyName()" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Vui lòng nhập tên">
                            <nz-input-group nzSize="large" nzPrefixIcon="user">
                                <input nz-input type="text" id="disnamee" [(ngModel)]="register.displayName" formControlName="displayName" placeholder="Tên" name="tenchinh" (change)="checkTrimdisplayName()" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="phone">
                            <nz-input-group nzSize="large">
                                <input nz-input type="text" nz-tooltip="Số điện thoại gồm 10 số" [(ngModel)]="register.phoneNumber" formControlName="phoneNumber" placeholder="Số điện thoại" id="phoneNumber-register" (change)="checkTrimphone()" />
                            </nz-input-group>
                            <ng-template #phone let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập số điện thoại
                                </ng-container>
                                <ng-container *ngIf="i.errors?.minLength">Vui lòng nhập đúng định dạng số điện thoại
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="mail">
                            <nz-input-group nzSize="large" nzPrefixIcon="mail">
                                <input nz-input type="text" [(ngModel)]="register.emailAddress" formControlName="emailAddress" placeholder="Gmail" id="email-register" (change)="checkTrimemailAddress()" />
                            </nz-input-group>
                            <ng-template #mail let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập Email
                                </ng-container>
                                <ng-container *ngIf="i.errors?.email">Email sai định dạng
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="confirmpassword">
                            <nz-input-group nzSize="large" nz-popover nzPopoverPlacement="left" nzPopoverTrigger="focus" [nzPopoverContent]="passportcheck" nzPrefixIcon="lock">
                                <input nz-input type="password" nz-tooltip="Mật khẩu phải dài hơn 6 chữ số" [(ngModel)]="register.password" formControlName="password" placeholder="Mật khẩu" (change)="checkTrimpassword()" />
                            </nz-input-group>
                            <ng-template #passportcheck>
                                <p class="mt-sm">
                                    Mật khẩu phải từ 6 ký tự trở lên
                                </p>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="confirmpassword">
                            <nz-input-group nzSize="large" nzAddonBeforeIcon="lock" nzPrefixIcon="lock">
                                <input nz-input type="password" formControlName="confirm" placeholder="Nhập lại mật khẩu" />
                            </nz-input-group>
                            <ng-template #confirmpassword let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập lại mật khẩu
                                </ng-container><br />
                                <ng-container *ngIf="i.errors?.equar">Nhập lại mật khẩu không chính xác
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="form-group-login">
                        <label class="login-check-login login-check-login-focus-login">
              <input type="checkbox" /> Tôi đồng ý tất cả các tuyên bố trong
              <a href="#" class="term-service-login">Điều khoản</a
              ><span></span>
            </label>
                    </div>
                    <div class="form-group-login form-button-login">
                        <input type="submit" name="signup" id="signup" class="form-submit-login" (click)="submit(template)" value="Đăng ký" />
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure>
                    <img src="../../../../assets/images/sign-up.jpg" alt="sing up image" />
                </figure>
                <a routerLink="/f-learn.poly/login" class="signup-image-link-login">Tôi đã là thành viên</a>
            </div>
        </div>
    </div>
</section>
<ng-template #template>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon"><i class="far fa-laugh-beam"></i></span>
            <div class="ant-notification-notice-message">Đăng ký thành công</div>
        </div>
    </div>
</ng-template>