.login-form {
  max-width: 50%;
  margin-top: 5%;
  margin-left: 15%;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;
  font: bold 4.5em/1.5 Bebas, sans-serif;
  color: #5ca17c; /*non-webkit fallback*/
  font-size: 430%;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #26bda6, #ff9f65, #ded37e, #26bda6);
  background-size: auto 250%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0 100%;
  margin-left: 15%;
}
h1:hover {
  background-position: 0 0;
  cursor: pointer;
}
h5 {
  text-align: center;
  margin-top: 5%;
  color: black;
}
.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.content {
  width: 60%;
  height: 100%;
  margin-top: 10px;
  background-image: url(https://fptshop.com.vn/Uploads/images/2015/Tin-Tuc/PSPVu/Th%C3%A1ng%2011/Th%E1%BB%A7%20thu%E1%BA%ADt/concept-adobe-keyboard-1.JPG);
  background-size: cover;
}
nz-list-item-meta {
  width: 100%;
  height: 100%;
  margin-left: 10px;
}
#err {
  display: none;
  color: red;
  margin-bottom: 0px;
  animation-name: dich_chuyen;
  animation-duration: 7s;
}

@keyframes dich_chuyen {
  0% {
    left: 0px;
  }
  100% {
    left: 400px;
  }
}
