<page-header [title]="'Danh sách sản phẩm mua'" [action]="action" [tab]="tab">
    <ng-template #action>
        <div class="card-item-content">
            <div class="box">
                <input class="subject-input" type="text" placeholder="Tìm kiếm sản phẩm đã mua" autocomplete="off"
                    [(ngModel)]="searchText" />
                <a class="subject-a"><i nz-icon nzType="search" nzTheme="outline"></i></a>
            </div>
        </div>
    </ng-template>
</page-header>
<button nz-button nzType="primary" [nzSize]="size" nzShape="round">
    Tổng tiền {{ sum | currency:"VND"}} VNĐ
</button>
<button style="left: 55%; width: 121px;" nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="open()">
    Thanh toán
</button>
<button style="left: 55%; width: 121px;" nz-button nzType="primary" [nzSize]="size" nzShape="round"
    (click)="deleteallorder()">
    Xoá hết
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Thanh toán" [nzClosable]="false" [nzCancelText]="null" [nzOkText]="null"
    nzWidth="500px">
    <div style=" text-align: center;">
        <a>Bạn muốn thanh toán</a><br><br>
        <button style="width: 121px;" nz-button nzType="primary" [nzSize]="size" nzShape="round"><a
                href="{{ linkVNP }}">Đúng vậy</a></button>
        <button style="width: 121px;" nz-button nzType="primary" [nzSize]="size" nzShape="round"
            (click)="handleOk()">Huỷ</button>
    </div>
</nz-modal>
<form nz-form [formGroup]="form">
    <nz-list nzItemLayout="vertical">
        <div *ngFor="let item of items.controls 
    | filter: searchText
    ; let i = index
">
            <div class="infor">
                <img style="padding: 10px;" [src]="items.value[i].imagePreviewTitle" width="200" class="user-image" />
                <fieldset>
                    <legend>Thông tin bài</legend>
                    <div class="infor-user">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="title">Tên bài:</td>
                                    <td class="infor-user">{{ items.value[i].name }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Người đăng:</td>
                                    <td class="infor-user">Trần trung Hiếu</td>
                                </tr>
                                <tr>
                                    <td class="title">Ngày đăng:</td>
                                    <td class="infor-user">08/06/2020</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="detail">
                            <button nz-button nzType="primary">
                                {{
                                items.value[i].xprice | currency:"VND"
                                }}&nbsp;&nbsp;VNĐ
                            </button>
                            <a nz-button nzType="primary" (click)="del(i)">Xoá</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </nz-list>
</form>