span {
  border: solid 1px #acacac;
  padding: 2px;
}

button {
  margin-top: 10px;
}

body {
  text-align: center;
  background: #00ecb9;
  font-family: sans-serif;
  font-weight: 100;
}

h3 {
  color: #396;
  font-weight: 100;
  margin: 10px 0px 20px;
}

body {
  text-align: center;
  background: #00ecb9;
  font-family: sans-serif;
  font-weight: 100;
}

h3 {
  color: #396;
  font-weight: 100;
  margin: 10px 0px 20px;
}

#clockdiv {
  margin: 0px 0px 0px 50px;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 4px;
  border-radius: 3px;
  background: #4b90ff;
  display: inline-block;
}

#clockdiv div > span {
  padding: 10px;
  border-radius: 3px;
  background: #3b8b9373;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

#baiTap {
  display: none;
}

.clockdivCon {
  margin-left: 25%;
}

.divMargin {
  margin-bottom: 10px;
}
.tenCauHoi {
  display: flex;
}
