<form name="demo">
  <div class="clockdivCon">
    <button nz-button nzType="primary" id="start" (click)="timeAnswer()">
      Start
    </button>
    <div id="clockdiv">
      <div><span id="minute" class="minutes"></span>:mm</div>
      &nbsp;
      <div><span id="second" class="seconds"></span>:ss</div>
    </div>
  </div>

  <div id="baiTap">
    <div id="content">
      <h2>Điền nội dung thích hợp vào chỗ trống để được một câu hoàn chỉnh!</h2>
      <div class="divMargin" *ngFor="let exe of quesExercise; let in = index">
        <label class="tenCauHoi"
          ><strong>Câu hỏi {{ in + 1 }}</strong
          >:
        </label>
        <p style="margin: -22px 0px 0px 75px;" [innerHTML]="exe.content">
          {{ exe.content }}
        </p>
        <div class="currentValue"></div>
        <input
          (change)="gettext($event.target.value, $event.target.id)"
          name="content--{{ in }}"
          id="{{ exe.id }}"
        />
      </div>
    </div>

    <button
      nz-button
      nzType="primary"
      style="margin-left: 45%;"
      id="nopBai"
      (click)="postAnswerQuestionExercise()"
    >
      Nộp bài
    </button>
  </div>

  <nz-modal
    id="modal"
    [(nzVisible)]="isVisible"
    [nzClosable]="false"
    [nzCancelText]="null"
    nzOkText="Ok"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    nzWidth="800px"
    nz-text="center"
  >
    <h2 id="diem">Điểm của bạn là: {{ diem }}</h2>
    <p id="loiNhac"></p>
  </nz-modal>
</form>
