<form nz-form [formGroup]="feedbackForm" (ngSubmit)="_submitForm()">
  <div se-container="1" labelWidth="">
    <se label="" error="Vui lòng nhập tiêu đề" required>
      <input nz-input type="text" name="name" placeholder="Tiêu đề" [(ngModel)]="feedbackForm2.title"
        formControlName="title" required />
    </se>
    <se label="" error="Vui lòng nhập lời nhắn" required>
      <textarea nz-input type="text" name="long" placeholder="Nội dung" [(ngModel)]="feedbackForm2.content"
        formControlName="content" [nzAutosize]="{ minRows: 8, maxRows: 19 }"></textarea>
    </se>
    <se>
      <button nz-button [nzType]="'primary'" [nzLoading]="loading" [disabled]="feedbackForm.invalid">
        Gửi
      </button>
    </se>
  </div>
</form>