<!-- <div class="mid-header pull-right">
    <div class="widget sw_top-3 sw_top pull-left">
        <div class="widget-inner">
            <div class="top-form top-form-minicart etrostore-minicart pull-right">
                <div class="top-minicart-icon pull-right">
                    <i class="fa fa-shopping-cart"></i>
                    <a class="cart-contents" routerLink="/money/subject" title="View your shopping cart">
                        <span class="minicart-number">{{ lengthorder }}</span>
                    </a>
                </div>
                <div class="wrapp-minicart">
                    <div class="minicart-padding">
                        <div class="number-item">
                            Hiện có <span>{{ lengthorder }} sản phẩm</span> trong giỏ hàng của bạn
                        </div>
                        <form nz-form [formGroup]="form">
                            <ul class="minicart-content">
                                <li *ngFor="let item of items.controls; let i = index">
                                    <div class="container-left">
                                        <a routerLink="/money/subject" class="product-image">
                                            <img [src]="items.value[i].imagePreviewTitle"
                                                class="product-image-detail" />
                                        </a>
                                    </div>
                                    <div style="width: 128px;" class="container-right">
                                        <h4>
                                            <a class="title-item" routerLink="/money/subject">{{
                        items.value[i].theCourseOfName
                      }}</a>
                                        </h4>

                                        <div class="product-price">
                                            <span class="price">
                                                {{ items.value[i].price | currency:"VND" }} VNĐ
                                            </span>
                                        </div>
                                        <a nz-button nzType="primary" (click)="del(i)">Xoá</a>
                                    </div>
                                </li>
                                <li *ngFor="let product of products">
                                    <div class="container-left">
                                        <a routerLink="/money/subject" class="product-image">
                                            <img [src]="product.imagePreviewTitle" class="product-image-detail" />
                                        </a>
                                    </div>
                                    <div style="width: 128px;" class="container-right">
                                        <h4>
                                            <a class="title-item" routerLink="/money/subject">{{
                      product.name
                    }}</a>
                                        </h4>

                                        <div class="product-price">
                                            <span class="price">
                                                {{ product.xprice | currency:"VND"}} VNĐ
                                            </span>
                                        </div>
                                        <a nz-button nzType="primary" (click)="del(i)">Xoá</a>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <div style=" padding: 20px 0px 0px 0px; " class="cart-checkout">
                            <div class="price-total">
                                <span class="label-price-total">Tổng tiền</span>

                                <span class="price-total-w">
                                    <span class="price"> {{ sum | currency:"VND"}} VNĐ </span>
                                </span>
                            </div>

                            <div class="cart-links">
                                <div class="checkout-link">
                                    <a (click)="checkaccount(template)" title="Pay">Xem giỏ hành</a>
                                </div>
                                <div class="cart-link">
                                    <a (click)="deleteallorder()">Xoá hết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->
<nz-card [nzBordered]="false" nzTitle="Chi tiết khoá học" class="mb-lg">
    <nz-card nzType="inner" style=" width: 440px;">
        <sv-container size="small" col="1">
            <div id="test" style="width: 420px;">
                <span *ngFor="let recomendacion of postsForm.value.imagesList">
                    <img [src]="recomendacion" />
                </span>
            </div>
        </sv-container>
    </nz-card>
    <nz-card nzType="inner" style="min-height: 427px; width: 815px;margin: -443px 0px 0px 440px;">
        <sv-container size="small" col="1">
            <div style="width: 496px;">
                <div>
                    <sv label="Tên khoá học">{{ postsForm.value.theCourseOfName }}</sv>
                    <sv label="Giá">{{ postsForm.value.price | currency:"VND" }} VNĐ</sv>
                    <sv label="Thời gian học">{{ postsForm.value.totalStudyTime }}</sv>
                    <sv label="Số bài học">{{ postsForm.value.itemsOfNumber }}</sv>
                </div>
                <div style=" margin: -87px 0px 0px 300px; ">
                    <sv label="Thể loại">{{ postsForm.value.category }}</sv>
                    <sv label="Số lượng học viên">{{ postsForm.value.participantOfNumber }}</sv>
                    <sv label="Hình thức học">{{ postsForm.value.type }}</sv>
                </div>
                <sv label="Mô tả ngắn" [innerHTML]="postsForm.value.shortDescription">{{ postsForm.value.shortDescription }}</sv>
            </div>
            <span>
                <img class="image-title" [src]="postsForm.value.imagePreviewTitle" width="200px" />
            </span>
        </sv-container>
    </nz-card>
    <br>
    <nz-card nzType="inner" nzTitle="Mô tả dài" style="width: 500px;min-height: 400px;">
        <sv-container size="small" col="1">
            <div style="width: 500px;">
                <sv [innerHTML]="postsForm.value.longDescription">{{ postsForm.value.longDescription }}</sv>
            </div>
        </sv-container>
    </nz-card>
    <nz-card nzType="inner" nzTitle="Giáo trình" style="width: 750px;margin: -416px 0px 0px 504px;min-height: 500px;">
        <sv-container size="small" col="1">
            <div style="width: 750px;">
                <sv [innerHTML]="postsForm.value.curriculum">{{ postsForm.value.curriculum }}</sv>
            </div>
        </sv-container>
    </nz-card>
    <br>
    <div class="mid-header pull-right" style=" margin: 0px 0px 0px 1010px;">
        <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="open(template)">
            Phản hồi
        </button>
        <nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
            nzTitle="Phản hồi sản phẩm" [nzFooter]="footerTpl" (nzOnClose)="close()">
            <nz-card [nzBordered]="false">
                <app-stepfeedback1 *ngIf="item.step == 0"></app-stepfeedback1>
                <app-stepfeedback2 *ngIf="item.step == 1"></app-stepfeedback2>
            </nz-card>
        </nz-drawer>
        <button style="margin-left: 3%;" nz-button nzType="primary" [nzSize]="size" nzShape="round"
            routerLink="/money/bookchedule/{{ postsForm.value.id }}" (click)="open(template)">
            Đăng ký khoá học
        </button>
    </div>
</nz-card>
<ng-template #template>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon"><i class="fas fa-sign-in-alt"></i></span>
            <div class="ant-notification-notice-message">Vui lòng đăng nhập tài khoản</div>
        </div>
    </div>
</ng-template>
<ng-template #addtocard>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon"><i class="fas fa-check-circle fa-2x"></i></span>
            <div class="ant-notification-notice-message">Đã thêm bài <a>{{ productListdata.name }}</a> vào giỏ hàng
            </div>
        </div>
    </div>
</ng-template>