img {
  width: 197px;
  height: 197px;
  padding: 10px;
}
.image-title{
  width: 300px;
  height: 300px;
}

.container-left {
  width: auto;
}

.container-right {
  float: right;
  margin-top: -33%;
}
.product-image-detail {
  height: 100px;
  width: 140px;
}
.fa-check-circle{
  margin-left: -17px;
  color: rgb(79, 226, 158);
}
.fa-sign-in-alt{
  color: #ff4343;
}

#test {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}