img {
  width: 200px;
  height: 200px;
}
nz-card {
  text-align: center;
}
p {
  color: red;
}
.div25 {
  width: 23%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.divChiTiet {
  display: flex;
  width: 700px;
}

.div26 {
  text-align: center;
}

.divMargin {
  margin-right: 10px;
}

table {
  width: 250px;
}
.divTr {
  width: 100px;
}

.div1 {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
table {
  width: 100%;
}
