<div>
  <table nzTitle="Thay đổi thông tin">
    <h1>Danh sách thành viên</h1>
    <nz-list>
      <div>
        <nz-list nzGrid>
          <div nz-row [nzGutter]="16">
            <div nz-card-grid *ngFor="let data of members" class="div25 div1">
              <div class="div26">
                <img src="{{ data.avatar }}" />
                <h4>{{ data.displayName }}</h4>
                <p>{{ data.position }}</p>

                <button nz-button nzType="primary" (click)="showModal(data.id)">
                  <span>Chi tiết thành viên</span>
                </button>
              </div>

              <!-- show chi tiet thanh vien -->
              <nz-modal
                *ngIf="member"
                [(nzVisible)]="isVisible"
                nzTitle="Chi tiết thành viên"
                [nzClosable]="false"
                [nzCancelText]="null"
                nzOkText="Ok"
                (nzOnOk)="handleOk()"
                [nzOkLoading]="isOkLoading"
                nzWidth="800px"
              >
                <div class="divChiTiet">
                  <div class="divMargin">
                    <img nz-tooltip="avata" src="{{ member.avatar }}" />
                  </div>

                  <div class="divMargin">
                    <table>
                      <tr>
                        <td>Họ tên:</td>
                        <td>{{ member.familyName }}</td>
                      </tr>

                      <tr>
                        <td>Ngày sinh:</td>
                        <td>{{ member.birthYear }}</td>
                      </tr>

                      <tr>
                        <td>Thành phố:</td>
                        <td>{{ member.province }}</td>
                      </tr>

                      <tr>
                        <td>Mô tả cá nhân:</td>
                        <td>{{ member.summary }}</td>
                      </tr>

                      <tr>
                        <td>Chức vụ:</td>
                        <td>{{ member.position }}</td>
                      </tr>
                    </table>
                  </div>

                  <!--hoc van -->
                  <div class="hocVan doublediv" *ngIf="member">
                    <table>
                      <tr>
                        <td>Trường:</td>
                        <td>{{ member.school }}</td>
                      </tr>

                      <tr>
                        <td>Khóa:</td>
                        <td>{{ member.grade }}</td>
                      </tr>

                      <tr>
                        <td>Chuyên ngành:</td>
                        <td>{{ member.department }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </nz-modal>
            </div>
          </div>
        </nz-list>
      </div>
    </nz-list>
  </table>
</div>
