<!-- <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th style="text-align: center;" *ngFor="let column of listOfColumns; trackBy: trackByName" [(nzSortOrder)]="column.sortOrder"
                [nzSortFn]="column.sortFn" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
                {{ column.name }}
            </th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of filterTable.data; let i = index">
            <td *ngIf="!data.status">
                <a class="btn btn-default"><i class="glyphicon far fa-eye gly-spin"></i><br>Chưa xem
                </a>
            </td>
            <td *ngIf="data.status">
                <a>Đã xem</a>
            </td>
            <td><img [src]="data.imagePreviewTitle" /></td>
            <td>{{ data.familyName }}</td>
            <td>{{ data.phoneNumber }}</td>
            <td>{{ data.birthYear }}</td>
            <td>{{ data.emailAddress }}</td>
            <td>
                <a nz-button nzType="primary" (click)="showModal2(data.id)">Show</a>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-collapse nzAccordion>
    <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name">
        <p>{{ panel.name }}</p>
    </nz-collapse-panel>
</nz-collapse>
<nz-modal [(nzVisible)]="isVisible2" nzTitle="Thông tin khách hàng đăng ký khoá học" (nzOnCancel)="cancel2()"
    [nzCancelText]="null" [nzOkText]="null" nzWidth="1100px">
    <section id="about" class="section section-about wow fadeInUp">
        <div class="profile">
            <div class="row">
                <div class="col-sm-4">
                    <div class="photo-profile">
                        <img class="photo-profile-img" [src]="book.imagePreviewTitle" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="info-profile">
                        <h2><span class="span-hi">Xin chào: </span> {{ book.familyName }}</h2>
                        <h3>Ngày tham gia: {{ book.registrationPeriod | date: 'dd/MM/yyyy' }}</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="ul-info">
                                    <li class="li-info">
                                        <span class="title-info">Email:</span>
                                        <span class="info">{{ book.emailAddress }}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Địa chỉ:</span>
                                        <span class="info">{{ book.streetInformation }}, {{ book.province }}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Điện thoại:</span>
                                        <span class="info">{{ book.phoneNumber }}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Ngày sinh</span>
                                        <span class="info">{{ book.birthYear }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="ul-info">
                                    <li class="li-info">
                                        <span class="title-info">Khoá học:</span>
                                        <span class="info">{{ book.theCourseOfName }}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Giá khoá học:</span>
                                        <span class="info">{{ book.price }}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Thể loại:</span>
                                        <span class="info">{{ book.category }}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Hình thức:</span>
                                        <span class="info">{{ book.type }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nz-modal> -->
<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th style="text-align: center;" *ngFor="let column of listOfColumns; trackBy: trackByName" [(nzSortOrder)]="column.sortOrder"
                [nzSortFn]="column.sortFn" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
                {{ column.name }}
            </th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of filterTable.data; let i = index">
            <td *ngIf="!data.status">
                <a class="btn btn-default"><i class="glyphicon far fa-eye gly-spin"></i><br>Chưa xem
                </a>
            </td>
            <td *ngIf="data.status">
                <a>Đã xem</a>
            </td>
            <td><img [src]="data.imagePreviewTitle" /></td>
            <td>{{ data.familyName }}</td>
            <td>{{ data.phoneNumber }}</td>
            <td>{{ data.birthYear }}</td>
            <td>{{ data.emailAddress }}</td>
            <td>
                <a nz-button nzType="primary" routerLink="/money/post-showdetail/{{ data.id }}">Show</a>
            </td>
        </tr>
    </tbody>
</nz-table>