<div class="alain-default__content-title" xmlns="">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/confession-share">/ Thảo luận</a>
    <a routerLink="/f-learn.poly/confession-share">/ Đăng bài</a>
  </h1>
</div>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label><h5>Tiêu đề</h5></nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập tiêu đề">
      <input formControlName="title" nz-input [(ngModel)]="dis.title" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label><h5>Nội dung</h5></nz-form-label>
    <br />
    <nz-form-control nzErrorTip="Vui lòng nhập nội dung">
      <editor formControlName="content" [(ngModel)]="dis.content" [init]="tinymceInit"> </editor>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary">Hủy</button>
  <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="DisPost()">Gửi bài</button>
</form>
