i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}
input {
  width: 50%;
  margin-bottom: 10px;
  background: white;
}

editor {
  margin-bottom: 10px;
}

nz-form-item {
  display: block;
}
