<div class="alain-default__content-title">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/course">/ Thảo luận</a>
  </h1>
</div>

<ul nz-menu nzMode="horizontal" class="chiaUL">
  <!-- tìm kiếm -->
  <li class="search">
    <div>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input
          type="text"
          nz-input
          placeholder="Tìm kiếm thảo luận"
          [(ngModel)]="searchText"
        />
      </nz-input-group>
      <ng-template #prefixTemplateUser
        ><i nz-icon nzType="search" nzTheme="outline"></i>
      </ng-template>
      <button
        nz-button
        class="search-button"
        nzType="primary"
        (click)="checkaccount(template)"
      >
        Tạo chủ đề mới
      </button>
    </div>
  </li>
</ul>

<!--Danh sách blog -->
<nz-list nzItemLayout="vertical">
  <nz-list-item
    *ngFor="
      let dis of discussions
        | filter: searchText
        | paginate: { itemsPerPage: 5, currentPage: page }
    "
    class="div1 div2"
  >
    <nz-list-item-meta>
      <!-- ảnh -->
      <nz-list-item-meta-avatar>
        <img class="classImg" src="{{ dis.avatar }}" />
      </nz-list-item-meta-avatar>
    </nz-list-item-meta>

    <div class="content">
      <!-- tiêu đề-->
      <nz-list-item-meta-title>
        <h2>{{ dis.title }}</h2>
      </nz-list-item-meta-title>
      <!-- mô tả -->
      <nz-list-item-meta-description> </nz-list-item-meta-description>

      <nz-list-item-meta-description>
        <div class="collapse mt-4" id="boxnoidung" *ngIf="dis">
          <p id="demo" [innerHTML]="dis.content.slice(0, 100)">
            {{ dis.content.slice(0, 100) + "..." }}
          </p>
        </div>
      </nz-list-item-meta-description>

      <ul nz-list-item-actions class="">
        <nz-list-item-action>Tác giả: {{ dis.reviewName }}</nz-list-item-action>
      </ul>
      <div style="margin: -20px 0px 0px 950px;">
        <div style="margin: 0px 0px 0px -70px;">
          <ul nz-list-item-actions class="soLuotXem">
            <nz-list-item-action
              ><i nz-icon nzType="eye" style="margin-right: 8px;"></i
              >{{ dis.view }}
            </nz-list-item-action>
          </ul>
        </div>
        <div style="margin: -25px 0px 0px 7%;">
          <button
            nz-button
            [nzType]="'primary'"
            class="batDauHoc"
            aria-expanded="false"
            data-toggle="collapse"
            data-target="#boxnoidung"
            routerLink="/f-learn.poly/discussion/{{ dis.id }}"
            (click)="putDiscussion(dis.id)"
          >
            Xem chi tiết
          </button>
        </div>
      </div>
    </div>
  </nz-list-item>
  <pagination-controls
    previousLabel=""
    nextLabel=""
    (pageChange)="page = $event"
  ></pagination-controls>
</nz-list>

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon"
        ><i class="fas fa-sign-in-alt"></i
      ></span>
      <div class="ant-notification-notice-message">
        Vui lòng đăng nhập tài khoản
      </div>
    </div>
  </div>
</ng-template>
