.search {
  width: 50%;
}

.chiaUL {
  display: flex;
}

.classimg {
  width: 250px;
  height: 250px;
}

img {
  width: 250px;
  height: 250px;
}

.displayitem {
  display: flex;
}

.nz-card {
  height: 200px;
}

nz-avatar {
  width: 300px;
  height: 300px;
}

.batDauHoc {
  margin-right: 20px;
  margin-left: 10px;
}

.phanTrang {
  margin-left: 900px;
}

.classImg {
  width: 120px;
  height: 120px;
  background: #7fee1d;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.div1 {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}

.div2 {
  margin-bottom: 20px;
  width: 100%;
}

.content {
  width: 90%;
}

.soLuotXem {
  margin-top: 0px;
}

.view1 {
  width: 10%;
}

.search-area {
  display: flex;
  margin-top: 150%;
}
.fa-sign-in-alt {
  color: #ff4343;
}
.search-button {
  margin-left: 10px;
}
