<result style="margin-top: 50px;" type="success" description="Đã đổi mật khẩu thành công"
  [extra]="resultExtra">
  <button nz-button class="ml-sm" routerLink="/f-learn.poly/user/information">
    Trở về
  </button>
  <button nz-button (click)="item.again()" [nzType]="'primary'">
    Lần nữa
  </button>
</result>