<!-- <shopping-cart1 [products]="cartProductList" (productRemoved)="removeProduct($event)"></shopping-cart1> -->
<page-header [title]="'Danh sách các trung tâm'" [action]="action" [tab]="tab">
    <ng-template #action>
        <div class="card-item-content">
            <div class="box">
                <input class="subject-input" type="text" placeholder="Tìm kiếm trung tâm" autocomplete="off"
                    [(ngModel)]="searchText" />
                <a style=" color: white; margin-right: 10px; "><i nz-icon nzType="search" nzTheme="outline"></i></a>
            </div>
        </div>
    </ng-template>
</page-header>
<nz-list [nzRenderItem]="item" [nzDataSource]="
    subject
      | filter: searchText
      | paginate: { itemsPerPage: 4, currentPage: page }
  " [nzGrid]="{ gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
    <ng-template #item let-item>
        <nz-list-item routerLink="../subject-list/{{ item.id }}">
            <nz-card style="border-radius: 10%;" nzHoverable [nzCover]="cover">
                <ng-template #cover>
                    <img class="img-subject" src="{{ item.avatar }}" />
                </ng-template>
                <nz-card-meta style="text-align: center;" [nzTitle]="nzTitle" [nzDescription]="item.school">
                    <ng-template #nzTitle>
                        <a>{{ item.province }}</a>
                    </ng-template>
                </nz-card-meta>
            </nz-card>
        </nz-list-item>
    </ng-template>
</nz-list>
<pagination-controls 
nextLabel=""
previousLabel="" 
(pageChange)="page = $event"></pagination-controls>