.img-subject {
  margin: 0px 0px 0px 18.5px;
  width: 270px;
  height: 200px;
  border-radius: 10%;
}

.card-item-content {
  margin-left: 150px;
}

.box {
  height: 40px;
  background-color: #1890ff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-input {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 0px;
  transition: 0.8s ease;
  color: white;
  font-size: 15px;
  font-weight: 600px;
}

.subject-input::placeholder {
  color: antiquewhite;
}

.subject-a {
  color: whitesmoke;
  text-align: center;
  width: 80px;
  font-size: 18px;
}

.box input {
  width: 300px;
  margin: 0 20px;
}

#test {
  width: 700px;
  height: 370px;
  overflow-x: hidden;
  overflow-y: auto;
}