<div style="width: 600px;margin-left: 20%;margin-top: 50px;" se-container="1" labelWidth="200">
    <se label="Nhập số tiền nạp" error="Đừng để trống mật khẩu" required>
        <input nz-input type="text" name="moneyxhen" id="money" (click)="getText()" placeholder="Số tiền nạp" required />
    </se>
      <label style="margin: 0px 0px 0px 215px;color: white" id="notmoney-1">Xin vui lòng nhập chữ</label><br>
      <label style="margin: 0px 0px 0px 215px;color: white" id="notmoney-2">Số tiền nập cần ít hơn 20.000.000 VNĐ</label><br>
      <label style="margin: 0px 0px 0px 215px;color: white" id="notmoney-3">Số tiền nạp cần nhiều hơn 10.000 VNĐ</label>
      <div style="margin-left: 285px;">
        <button nz-button class="ml-sm" routerLink="/f-learn.poly/user/information">
          Huỷ
        </button>
        <button nz-button nzType="primary" (click)="open()">
          Bước tiếp theo
        </button>
    </div>
</div>