<section id="about" class="section section-about wow fadeInUp">
    <div class="profile">
        <div class="row">
            <div class="col-sm-4">
                <div class="photo-profile">
                    <img class="photo-profile-img" [src]="book.imagePreviewTitle" />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="info-profile">
                    <h2><span class="span-hi">Xin chào: </span> {{ book.familyName }}</h2>
                    <h3>Thời gian đăng ký: {{ book.registrationPeriod }}</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="ul-info">
                                <li class="li-info">
                                    <span class="title-info">Email:</span>
                                    <span class="info">{{ book.emailAddress }}</span>
                                </li>
                                <li class="li-info">
                                    <span class="title-info">Địa chỉ:</span>
                                    <span class="info">{{ book.streetInformation }}, {{ book.province }}</span>
                                </li>
                                <li class="li-info">
                                    <span class="title-info">Điện thoại:</span>
                                    <span class="info">{{ book.phoneNumber }}</span>
                                </li>
                                <li class="li-info">
                                    <span class="title-info">Ngày sinh</span>
                                    <span class="info">{{ book.birthYear }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="ul-info">
                                <li class="li-info">
                                    <span class="title-info">Khoá học:</span>
                                    <span class="info">{{ book.theCourseOfName }}</span>
                                </li>
                                <li class="li-info">
                                    <span class="title-info">Giá khoá học:</span>
                                    <span class="info">{{ book.price }}</span>
                                </li>
                                <li class="li-info">
                                    <span class="title-info">Thể loại:</span>
                                    <span class="info">{{ book.category }}</span>
                                </li>
                                <li class="li-info">
                                    <span class="title-info">Hình thức:</span>
                                    <span class="info">{{ book.type }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>