<div class="alain-default__content-title">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/discussion">/ Thảo luận</a>
  </h1>
</div>

<ul nz-menu nzMode="horizontal" class="chiaUL">
  <!-- tìm kiếm -->
  <li nz-menu-item class="search">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchText" />

      <button nz-button class="search-button" nzType="primary" routerLink="/f-learn.poly/discussion/post">Tạo chủ đề mới</button>
    </div>
  </li>
</ul>

<!--Danh sách blog -->
<nz-list nzItemLayout="vertical" *ngIf="dis">
  <nz-list-item>
    <nz-list-item-meta>
      <!-- ảnh -->
      <nz-list-item-meta-avatar>
        <img class="classImg" src="{{ dis.avatar }}" />
      </nz-list-item-meta-avatar>
    </nz-list-item-meta>

    <div>
      <!-- tiêu đề-->
      <nz-list-item-meta-title>
        <h1>{{ dis.title }}</h1>
      </nz-list-item-meta-title>

      <nz-list-item-meta-description [innerHTML]="dis.content">
        <p id="demo" class="card-text">{{ dis.content }}</p>
      </nz-list-item-meta-description>

      <ul nz-list-item-actions class="">
        <nz-list-item-action>By: {{ dis.emailReviewName }}</nz-list-item-action>
      </ul>

      <ul nz-list-item-actions class="soLuotXem">
        <nz-list-item-action><i nz-icon nzType="eye" style="margin-right: 8px;"></i>{{ dis.view }}</nz-list-item-action>
      </ul>
    </div>
  </nz-list-item>
  <hr class="new1" />
  <app-discussion-comment></app-discussion-comment>
</nz-list>
