<nz-card [nzBordered]="false">
    <nz-steps [(nzCurrent)]="item.step">
      <nz-step nzTitle="Điền thông tin"></nz-step>
      <nz-step nzTitle="Xác nhận thông tin"></nz-step>
      <nz-step nzTitle="Hoàn thành"></nz-step>
    </nz-steps>
    <app-bookdtep1 *ngIf="item.step == 0"></app-bookdtep1>
    <app-bookdtep2 *ngIf="item.step == 1"></app-bookdtep2>
    <app-bookdtep3 *ngIf="item.step == 2"></app-bookdtep3>
  </nz-card>
  