.all-notification {
  height: 140px;
  width: 1200px;
  margin: 0 auto;
}
.img-notification {
  width: 135px;
  height: 100px;
}
.infor-notification {
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-gap: 20px;
  position: relative;
  box-shadow: 0 0 5px black;
  margin: 5px;
  margin-top: 20px;
  padding: 10px;
  width: 390px;
}
.infor-contact {
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-gap: 20px;
  position: relative;
  box-shadow: 0 0 5px black;
  margin: 5px;
  margin-top: 20px;
  padding: 10px;
  width: 390px;
}
.all-contact {
  height: 389.85px;
  background-color: #67b0f3;
}
.centex-up {
  margin: 0 auto;
  width: 1200px;
}
.note {
  background-color: #1e73c8;
  height: 40px;
}
a {
  color: white;
}
.centex-down {
  margin: 0 auto;
  width: 1200px;
  padding: 9px;
}
