<!-- <div class="all-notification">
    <div class="infor-notification">
        <fieldset>
            <img class="img-notification" src="https://cdn4.iconfinder.com/data/icons/marketing-and-digital-marketing/32/business_marketing_advertising_mission-512.png" />
        </fieldset>
        <div>
            <h2>Giao dịch nhanh</h2>
            <h3>Hệ thống giao dịch hoàn toàn tự động</h3>
        </div>
    </div>
    <div style="margin: -10.5% 0px 0px 34%;" class="infor-notification">
        <fieldset>
            <img class="img-notification" src="https://w7.pngwing.com/pngs/479/154/png-transparent-symbol-flat-design-icon-shield-case-computer-network-colors-shields.png" />
        </fieldset>
        <div>
            <h2>An toàn tuyệt đối</h2>
            <h3>Thông tin hoàn toàn được bảo mật</h3>
        </div>
    </div>
    <div style="margin: -10.2% 0px 0px 67.5%;" class="infor-notification">
        <fieldset>
            <img class="img-notification" src="https://w7.pngwing.com/pngs/614/415/png-transparent-logo-computer-icons-service-cisco-call-manager-text-trademark-service.png    " />
        </fieldset>
        <div>
            <h2>Hỗ trợ</h2>
            <h3>Hệ thống hỗ trợ giải đáp thắc mắc luôn sẵn sàng</h3>
        </div>
    </div>
</div> -->
<div style="height: 250px;" class="all-contact">
    <div class="centex-up">
        <div id="footer">
            <div class="box_home_bottom">
                <div class="hethong_ks">
                    <div class="hethong_ks_in">
                        <h4>Thông tin liên hệ</h4>
                        <div class="address_f">
                            <div>
                                <strong>CAO&nbsp; ĐẲNG THỰC HÀNH FPT POLYTECHNIC</strong>
                            </div>
                            <div>
                                Địa chỉ: Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
                            </div>
                            <div>
                                Điện thoại&nbsp;:
                                <a href="tel:0963328520"><strong>(+84)9 6332 8520</strong></a> - <a href="tel:0988514398"><strong>09 8851 4398</strong></a
            ><br />
          </div>
          <div>
            Email: orangen2000@gmail.com<br />
                            </div>
                        </div>
                    </div>
                    <div class="hethong_ks_in">
                        <h4>Bản đồ hệ chúng tôi</h4>
                        <div class="bd_s">
                            <a href="https://a25hotel.com/ban-do-he-thong-a25-hotel.html"><img style="width: 373px; height: 150px;" src="../../../../assets/images/Footer/130204551_689264151765633_2387196409024332758_n.png" alt="bando" /></a>
                        </div>
                    </div>
                    <div class="hethong_ks_in">
                        <h4>Kết nối với chúng tôi</h4>
                        <div class="fb-page" data-href="https://www.facebook.com/nguoiDungTenThao" data-width="341" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"></div>
                        <br />
                        <div class="mxh_foo" id="socialicons">
                            <a href="https://www.facebook.com/a25hotel" title="Facebook" rel="nofollow" target="_blank"><img src="https://a25hotel.com/upload/images/facebook_2.png" alt="Facebook" /></a>
                            <a href="https://www.youtube.com/channel/UC5JR9BL5A72RaYLu8gxvwiA" title="Youtube Chanel" rel="nofollow" target="_blank"><img src="https://a25hotel.com/upload/images/youtube-chanel.png" alt="Youtube Chanel" /></a>
                            <a href="https://id.zalo.me/account?continue=https%3A%2F%2Fsp.zalo.me%2Fshare%3Fv%3D2%26oa%3D579745863508352884%26d%3DeyJ1cmwiOiJodHRwOi8vYTI1aG90ZWwuY29tLyJ9" title="Zalo" rel="nofollow" target="_blank"><img src="https://a25hotel.com/upload/images/zalo-page.png" alt="Zalo" /></a>
                            <a href="https://www.instagram.com/a25hotel/" title="instagram" rel="nofollow" target="_blank"><img src="https://a25hotel.com/upload/images/instagram.png" alt="instagram" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="note">
    <div class="centex-down">
        <a class="a-footer">Điều khoản Chính sách bảo mật. All rights
  reserved. Thiết kế website - Quyết Chiến</a
>
        <a class="a-footer" style="margin-left: 330px;">Liên hệ: 09 6332 8520</a>
    </div>
</div>