<nz-table #filterTable nzShowSizeChanger [nzData]="history" nzTableLayout="fixed">
    <thead>
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;" *ngFor="let filter of filterData; trackBy: trackByName" [nzSortFn]="filter.sortFn" [nzFilters]="filter.filterTable" [nzFilterFn]="filter.filterFn">
                {{ filter.nameTitletable }}
            </th>
            <th style="text-align: center;">Giá</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let history of filterTable.data; let i = index">
            <td>{{ history.status }}</td>
            <td>{{ history.familyName }}</td>
            <td>{{ history.theCourseOfName }}</td>
            <td>{{ history.price }}</td>
        </tr>
    </tbody>
</nz-table>