<div>
  <!-- slide show -->
  <div
    id="carouselExampleIndicators"
    class="carousel slide my-4"
    data-ride="carousel"
  >
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img
          class="d-block img-fluid"
          src="../../../../../assets/slider1.jpg"
          alt="First slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block img-fluid"
          src="../../../../../assets/slider2.jpg"
          alt="Second slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block img-fluid"
          src="../../../../../assets/slider3.jpg"
          alt="Third slide"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- kết thúc slide show -->

  <!-- danh sách khóa học -->
  <div>
    <h1>Danh sách khóa học</h1>

    <nz-list nzGrid>
      <div nz-row [nzGutter]="16">
        <div
          nz-card-grid
          *ngFor="let course of courses"
          class="div25"
          routerLink="/f-learn.poly/{{ course.id }}/sessions"
        >
          <nz-list-item class="div25">
            <img
              class="imgKhoaHoc"
              routerLink="/f-learn.poly/{{ course.id }}/sessions"
              nz-tooltip="{{ course.name }}"
              src="{{ course.urlLink }}"
            />
          </nz-list-item>
        </div>
      </div>
    </nz-list>
  </div>
  <!-- kết thúc danh sách khóa học -->
</div>

<nz-modal
  [(nzVisible)]="isVisible1"
  nzTitle="Hãy cùng chúng tôi xem xét về khả năng của bạn!"
  (nzOnCancel)="handleCancel1()"
  [nzCancelText]="null"
  [nzOkText]="null"
  nzWidth="730px"
>
  <button nz-button nzType="primary" (click)="handleOk1()">
    Kiểm tra
  </button>
  <div style="margin-left: 360px; margin-top: -32px;">
    Tôi không muốn hiện thông báo này
    <button nz-button nzType="primary" (click)="untilmodal()">
      Tắt
    </button>
  </div>
</nz-modal>

<nz-modal
  id="modal"
  [(nzVisible)]="isVisible2"
  [nzClosable]="false"
  [nzCancelText]="null"
  [nzOkText]="null"
  [nzOkLoading]="isOkLoading"
  nzWidth="80%"
  nz-text="center"
>
  <div style="margin-top: -120px; background-color: white;">
    <div style="height: 93px;">
      <div style="margin-left: 5%;">
        <h2 id="diem">
          Hãy hoàn thành bài test này để chúng tôi có thể gợi ý hỗ trợ cho bạn
        </h2>
      </div>
      <form name="demo">
        <div class="clockdivCon" style="margin: 0px 0px 0px 17%;">
          <div style="margin: -10px 0px 0px 230px;">
            <h2>Chọn đáp án đúng nhất!!</h2>
          </div>
          <div style="margin: -70px 0px 0px 70%;">
            <div id="clockdiv">
              <div style="height: 50px; font-size: 20px;">
                <span
                  style="
                    height: 37px;
                    width: 40px;
                    font-size: 20px;
                    margin-top: 3px;
                  "
                  id="minute"
                  class="minutes"
                ></span
                >:mm
              </div>
              &nbsp;
              <div style="height: 50px; font-size: 20px;">
                <span
                  style="
                    height: 37px;
                    width: 40px;
                    font-size: 20px;
                    margin-top: 3px;
                  "
                  id="second"
                  class="seconds"
                ></span
                >:ss
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="test">
      <nz-list
        [nzRenderItem]="item"
        [nzDataSource]="questionsEvaluation"
        [nzGrid]="{ gutter: 24, lg: 12, md: 8, sm: 12, xs: 24 }"
      >
        <ng-template #item let-item>
          <nz-list-item>
            <nz-card nzHoverable [nzCover]="cover">
              <h3 style="font-family: inherit;" [innerHTML]="item.content">
                {{ item.content }}
              </h3>
              <div class="displayDiv">
                <div class="divMargin">
                  <label>
                    <input
                      [innerHTML]="item.answerA"
                      type="radio"
                      name="{{ item.id }}"
                      id="A"
                      [value]="answersEvaluation.answerValuation"
                      (change)="
                        onItemChange($event.target.id, $event.target.name)
                      "
                    />
                    {{ item.answerA }}</label
                  >
                </div>
                <div>
                  <label>
                    <input
                      [innerHTML]="item.answerB"
                      type="radio"
                      name="{{ item.id }}"
                      id="B"
                      [value]="answersEvaluation.answerValuation"
                      (change)="
                        onItemChange($event.target.id, $event.target.name)
                      "
                    />
                    {{ item.answerB }}</label
                  >
                </div>
              </div>
              <div class="displayDiv">
                <div class="divMargin">
                  <label>
                    <input
                      [innerHTML]="item.answerC"
                      type="radio"
                      name="{{ item.id }}"
                      id="C"
                      [value]="answersEvaluation.answerValuation"
                      (change)="
                        onItemChange($event.target.id, $event.target.name)
                      "
                    />
                    {{ item.answerC }}</label
                  >
                </div>
                <div>
                  <label>
                    <input
                      [innerHTML]="item.answerD"
                      type="radio"
                      name="{{ item.id }}"
                      id="D"
                      [value]="answersEvaluation.answerValuation"
                      (change)="
                        onItemChange($event.target.id, $event.target.name)
                      "
                    />
                    {{ item.answerD }}</label
                  >
                </div>
              </div>
            </nz-card>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
    <p style="color: red;">*Để nhận hỗ trợ vui lòng chọn 2 đáp án trở lên</p>
    <div style="margin: -42px 0px 0px 42%;">
      <button nz-button (click)="cland()">Huỷ</button>
      <button nz-button nzType="primary" id="nopBai" (click)="postAnswer()">
        Nộp bài
      </button>
    </div>
    <!--Hien thi diem -->
    <nz-modal
      id="modalTest"
      [(nzVisible)]="isVisibleTest"
      [nzClosable]="false"
      [nzCancelText]="null"
      [nzOkText]="null"
      [nzOkLoading]="isOkLoading"
      nzWidth="800px"
    >
      <h2 id="loiNhac"></h2>
      <p class="titlr-usser">
        Chúng tôi có vài khoá học giúp bạn có thể cải thiện tình hình hiện tại
        của mình
      </p>
      <a style="margin: 0px 0px 0px 33%;"
        >Bạn có muốn xem thử các khoá học này ??</a
      ><br /><br />
      <button nz-button class="button-testuser" (click)="handleOkTest()">
        Không
      </button>
      <button
        nz-button
        class="button-testuser"
        nzType="primary"
        routerLink="/money/subject-all"
      >
        Có
      </button>
    </nz-modal>
  </div>
</nz-modal>
