:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.trigger:hover {
  color: #13d6ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.imgKhoaHoc {
  width: 200px;
  height: 200px;
  margin-left: 85%;
}

.div25 {
  width: 23%;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #ffffff;
}

.divChiTiet {
  display: flex;
  margin-left: 20px;
  width: 50%;
}

.divMargin {
  margin-left: 20px;
}
.displayDiv {
  display: flex;
}
.divMargin {
  margin-right: 20px;
}
label {
  margin-left: 5px;
}

button {
  margin-top: 10px;
}
#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 5px;
  border-radius: 3px;
  background: #1890ff ;
  display: inline-block;
}

#clockdiv div > span {
  padding: 5px;
  border-radius: 3px;
  background: #3b8b9373;
  display: inline-block;
}

.smalltext {
  font-size: 16px;
}
h1 {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
.tenCauHoi {
  display: flex;
}

#test {
  height: 423.4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.button-testuser{
  margin: 0px 0px 0px 40%;
}
.titlr-usser{
  text-align: center;
}