.infor {
  display              : grid;
  grid-template-columns: 150px 1fr;
  grid-gap             : 20px;
  position             : relative;
  border-radius        : 10px;
  box-shadow           : 0 0 5px blue;
  margin               : 5px;
  margin-top           : 20px;
}

.infor .user-image {
  width : 150px;
  height: 150px;
}

.infor-user {
  padding: 0px 60px;
  display: flex;
}

.detail {
  position: absolute;
  right   : 3%;
  top     : 18%;
  display : flex;
}

.detail .button-view {
  text-align: center;
  width     : 120px;
  margin    : 0 15px;
  padding   : 8px 10px;
  border    : 1px solid black;
  cursor    : pointer;
}

.button-detail {
  position  : absolute;
  right     : 2.5%;
  bottom    : 15%;
  text-align: center;
  width     : 120px;
  margin    : 0 15px;
}

.card-item-content {
  margin-left: 150px;
}

.box {
  height          : 40px;
  background-color: #1890ff;
  border-radius   : 30px;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.subject-input {
  background : none;
  outline    : none;
  border     : none;
  padding    : 0;
  margin     : 0;
  width      : 0px;
  transition : 0.8s ease;
  color      : white;
  font-size  : 15px;
  font-weight: 600px;
}

.subject-input::placeholder {
  color: antiquewhite;
}

.subject-a {
  color     : whitesmoke;
  text-align: center;
  width     : 80px;
  font-size : 18px;
}

.box input {
  width : 300px;
  margin: 0 20px;
}

nz-list {
  height: 800px;
}