<ng-template #template>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon"><i class="fas fa-sign-in-alt"></i></span>
            <div class="ant-notification-notice-message">Vui lòng đăng nhập tài khoản</div>
        </div>
    </div>
</ng-template>
<div *ngFor="let com of comment">
    <div class="classThongTin">
        <img class="classImg" src="{{ com.avatar }}" />
        <p class="className">{{ com.reviewName }}</p>
        <p class="dateComment">{{ com.dateComment | date: "dd/MM/yyy" }}</p>
    </div>
    <p [innerHTML]="com.content">{{ com.content }}</p>
    <hr />
</div>

<h2>Bình luận</h2>
<form [formGroup]="loginForm">
    <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập bình luận">
            <editor formControlName="content" [(ngModel)]="disCommet.content" [init]="tinymceInit"></editor>
        </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" (click)="postComment(template)">Bình luận</button>
</form>