.classImg {
  width: 50px;
  height: 50px;
  background: #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  --border-radius: 25px;
  border-radius: 25px;
  margin-bottom: 10px;
}
.classThongTin {
  display: flex;
}
.className {
  margin-left: 10px;
  font-weight: bold;
  color: cadetblue;
}
.dateComment {
  margin-left: 10px;
}
.fa-sign-in-alt{
  color: #ff4343;
}