<div class="alain-default__content-title">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/blog">/ Blog</a>
  </h1>
</div>

<ul nz-menu nzMode="horizontal" class="chiaUL">
  <!-- tìm kiếm -->
  <li nz-menu-item class="search">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="searchText"
      />
    </div>
  </li>
</ul>

<!--Danh sách blog -->
<nz-list nzItemLayout="vertical">
  <nz-list-item *ngIf="blog">
    <nz-list-item-meta>
      <!-- ảnh -->
      <nz-list-item-meta-avatar class="classimg">
        <img src="{{ blog.picture }}" />
      </nz-list-item-meta-avatar>
    </nz-list-item-meta>

    <div class="divChu">
      <!-- tiêu đề-->
      <nz-list-item-meta-title>
        <h1>{{ blog.title }}</h1>
      </nz-list-item-meta-title>

      <!-- mô tả -->
      <nz-list-item-meta-description>
        {{ blog.introduce }}
      </nz-list-item-meta-description>

      <nz-list-item-meta-description [innerHTML]="blog.content">
        <p id="demo" class="card-text">{{ blog.content }}</p>
      </nz-list-item-meta-description>

      <ul nz-list-item-actions class="">
        <nz-list-item-action>Tác giả: Admin</nz-list-item-action>
      </ul>
      <ul nz-list-item-actions>
        <nz-list-item-action
          ><i nz-icon nzType="eye" style="margin-right: 8px;"></i>
          {{ blog.view }}</nz-list-item-action
        >
      </ul>
    </div>
  </nz-list-item>
</nz-list>
