.search {
  width: 50%;
}

.chiaUL {
  display: flex;
}

.combobox {
  width: 30%;
  margin-left: 50%;
}

.classimg {
  width: 250px;
  height: 250px;
}
img {
  width: 250px;
  height: 250px;
}

.displayitem {
  display: flex;
}

.nz-card {
  height: 200px;
}
nz-avatar {
  width: 300px;
  height: 300px;
}
.batDauHoc {
  margin-top: 220px;
  margin-right: 20px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.phanTrang {
  margin-left: 900px;
}
.divChu {
  margin-left: 5%;
}
