body {
  background: #292929;
  padding: 1em;
}

h1 {
  position: relative;
  margin-top: 0;
  font-family: 'Lobster', helvetica, arial;
}

h1 a {
  text-decoration: none;
  color: #ffafaf;
  position: absolute;
   
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

h1:after {
  content : 'F-Learn';
  color: #d6d6d6;
  text-shadow: 0 1px 0 white;
}
