<div class="alain-default__header-logo">
    <a [routerLink]="['/f-learn.poly/login']" class="alain-default__header-logo-link">
        <img class="alain-default__header-logo-expanded" src="./../../../../assets/images/Fcode.png"
            [attr.alt]="app.name" style="
        margin-top: 15px;max-height: 40px;" />
        <div style="
  margin-top: -41px;
  margin-left: 140px;
  ">
            <h1> <a href="#">F-Learn</a> </h1>
        </div>
    </a>
  </div>
  <div class="alain-default__nav-wrap">
    <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>
    <div class="setting-drawer__body-item">
        <nz-switch [(ngModel)]="layout.colorWeak" (ngModelChange)="setLayout('colorWeak', layout.colorWeak)">
        </nz-switch>
    </div>
    <ul class="alain-default__nav">
        <li class="hidden-mobile">
            <app-notification></app-notification>
        </li>
        <li class="hidden-mobile">
            <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click"
                nzPlacement="bottomRight">
                <i nz-icon nzType="setting"></i>
            </div>
            <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
                <div nz-menu style="width: 200px;">
                    <div nz-menu-item>
                        <header-fullscreen></header-fullscreen>
                    </div>
                </div>
            </nz-dropdown-menu>
        </li>
  
        <div class="infor" *ngIf="status">
            <li class="hidden-mobile">
                <header-user-login></header-user-login>
            </li>
        </div>
        <div class="infor" *ngIf="!status">
            <li class="hidden-mobile">
                <header-user-logout></header-user-logout>
            </li>
        </div>
    </ul>
  </div>