<div class="divTong">
  <h1>Xếp hạng</h1>
  <div id="test">
    <div class="rank" *ngFor="let memb of arrayMember">
      <div class="content">
        <img class="classImg" src="{{ memb.avatarMember }}" />
        <h4>{{ memb.nameMember }}</h4>
        <h4>{{ memb.sumPoint }}</h4>
      </div>
    </div>
  </div>
</div>