.rank {
  border-radius: 20px;
  border-style: ridge;
}
.rank p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.rank h4 {
  margin-right: 10px;
}

.classImg {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px ridge aqua;
}
.content {
  padding: 5px 0px;
  margin-top: 10px;
  display: flex;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;
  color: #5ca17c; /*non-webkit fallback*/
  font-size: 430%;
  background-image: linear-gradient(
    to bottom,
    #26bda6,
    #ff9f65,
    #ded37e,
    #26bda6
  );
  background-size: auto 150%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0 100%;
}
h1:hover {
  background-position: 0 0;
  cursor: pointer;
}

.divTong {
  margin-bottom: 10px;
}

#test {
  height: 710px;
  overflow-x: hidden;
  overflow-y: auto;
}
