.mxh_foo img {
  width: 42px !important;
  margin-right: 5px;
}

#socialicons img {
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#socialicons img:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.hethong_ks {
  width: 103.333%;
  float: left;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
}

.hethong_ks_in {
  width: 30%;
  margin-right: 3.333%;
  float: left;
  position: relative;
  margin-bottom: 3.333%;
}

.hethong_ks_in h4 {
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffdcdc;
  border-bottom: dotted 1px;
}
