<form nz-form [formGroup]="passwordChangeform" (ngSubmit)="passwordFormstep1()">
  <div style="width: 600px;margin-left: 20%;margin-top: 50px;" se-container="1" labelWidth="200">
      <se label="Xác nhận mật khẩu" error="Đừng để trống mật khẩu" required>
          <input nz-input type="password" name="password" id="password" (click)="getText()" placeholder="Xác nhận mật khẩu" formControlName="password" required />
      </se>
      <label style="margin: 0px 0px 10px 215px;color: white" id="notpassword">Thông tin nhập không chính xác</label>
      <se>
        <button nz-button class="ml-sm" routerLink="/f-learn.poly/user/information">
          Huỷ
        </button>
          <button nz-button nzType="primary">Bước tiếp theo
    </button>
      </se>
  </div>
</form>