<nz-card [nzBordered]="false">
    <nz-steps [(nzCurrent)]="item.step">
      <nz-step nzTitle="Điền thông tin"></nz-step>
      <nz-step nzTitle="Xác nhận thông tin"></nz-step>
      <nz-step nzTitle="Hoàn thành"></nz-step>
    </nz-steps>
    <app-passwordstep1 *ngIf="item.step == 0"></app-passwordstep1>
    <app-passwordstep2 *ngIf="item.step == 1"></app-passwordstep2>
    <app-passwordstep3 *ngIf="item.step == 2"></app-passwordstep3>
  </nz-card>
  