<div *ngIf="checkdonemoney === 1">
  <result style="margin-top: 50px;" type="success" description="Bạn đã nạp tiền thành công" [extra]="resultExtra">
    <a> Tài khoản hiện tại của bạn là: {{ summoneyuser.moneyIntalent | currency:"VND"}} VNĐ</a><br><br>
    <button nz-button class="ml-sm" routerLink="/f-learn.poly/user/information">
      Trở về
    </button>
  </result>
</div>
<div *ngIf="checkdonemoney === 0">
  <i style="margin: 0px 0px 0px 48%;color: red;" class="far fa-times-circle fa-5x"></i>
  <result style=" margin-top: -70px; " description="Bạn đã nạp tiền thất bại" [extra]="resultExtra">
    <a> Tài khoản hiện tại của bạn là: {{ summoneyuser.moneyIntalent | currency:"VND"}} VNĐ</a><br><br>
    <button nz-button class="ml-sm" routerLink="/f-learn.poly/user/information">
      Trở về
    </button>
  </result>
</div>