<nz-card [nzBordered]="false">
    <nz-steps [(nzCurrent)]="item.step">
      <nz-step nzTitle="Điền thông tin"></nz-step>
      <nz-step nzTitle="Xác nhận thông tin"></nz-step>
      <nz-step nzTitle="Hoàn thành"></nz-step>
    </nz-steps>
    <app-informationstep1 *ngIf="item.step == 0"></app-informationstep1>
    <app-informationstep2 *ngIf="item.step == 1"></app-informationstep2>
    <app-informationstep3 *ngIf="item.step == 2"></app-informationstep3>
  </nz-card>
  