<nz-card [nzBordered]="false">
    <nz-steps [(nzCurrent)]="item.step">
      <nz-step nzTitle="Điền thông tin"></nz-step>
      <nz-step nzTitle="Xác nhận thông tin"></nz-step>
      <nz-step nzTitle="Hoàn thành"></nz-step>
    </nz-steps>
    <app-moneystep1 *ngIf="item.step == 0"></app-moneystep1>
    <app-moneystep2 *ngIf="item.step == 1"></app-moneystep2>
    <app-moneystep3 *ngIf="item.step == 2"></app-moneystep3>
  </nz-card>
  