
#test {
    height: 423.4px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .red-ring{
    width: 12px;
    height: 12px; 
    background-color: red; 
    color: red; 
    border-radius: 10px;
    margin: 0px 0px 0px 25px;
  }