<div *ngIf="statuscheckring === 0">
    <div nz-dropdown [nzDropdownMenu]="taskMenu" nzTrigger="click" nzPlacement="bottomRight"
        (nzVisibleChange)="change()">
        <nz-badge>
            <notice-icon [count]="notifications" btnClass="alain-default__nav-item"
                btnIconClass="alain-default__nav-item-icon"></notice-icon>
        </nz-badge>
    </div>
</div>
<div *ngIf="statuscheckring === 1">
    <div class="red-ring"></div>
    <div nz-dropdown style=" margin: -12px 0px 0px 0px; " (click)="checkringdone()">
        <nz-badge>
            <notice-icon [count]="notifications" btnClass="alain-default__nav-item"
                btnIconClass="alain-default__nav-item-icon"></notice-icon>
        </nz-badge>
    </div>
</div>
<nz-dropdown-menu #taskMenu="nzDropdownMenu">
    <div nz-menu class="wd-lg">
        <div *ngIf="loading" class="mx-lg p-lg">
            <nz-spin></nz-spin>
        </div>
        <nz-card *ngIf="!loading" nzTitle="Thông báo" nzBordered="false" class="ant-card__body-nopadding">
            <div id="test">
                <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="py-sm point"
                    *ngFor="let notifi of noti.slice().reverse()">
                    <div *ngIf="!notifi.status">
                        <div nz-col [nzSpan]="4" class="text-center">
                            <img style="width: 40px;" src="https://vnsea.com.vn/wp-content/uploads/2017/12/new.png" />
                        </div>
                    </div>
                    <div *ngIf="notifi.status">
                        <div nz-col [nzSpan]="4" class="text-center">
                            <nz-avatar></nz-avatar>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="20">
                        <p class="mb0">
                            {{notifi.message}}
                        </p>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</nz-dropdown-menu>