.search {
  width: 50%;
}

.chiaUL {
  display: flex;
}

.combobox {
  width: 30%;
  margin-left: 50%;
}

.classimg {
  width: 250px;
  height: 250px;
}
img {
  width: 250px;
  height: 250px;
}

.displayitem {
  display: flex;
}

.nz-card {
  height: 200px;
}
nz-avatar {
  width: 300px;
  height: 300px;
}
.batDauHoc {
  margin-top: 220px;
  margin-right: 20px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  margin-left: 10px;
}
.className {
  margin-left: 10px;
}

.div1 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 1.24);
  cursor: pointer;
}

.div2 {
  margin-top: 20px;
}

.fa-sign-in-alt {
  color: #ff4343;
}
