<div class="alain-default__content-title">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/course">/ Khóa học</a>
  </h1>
</div>

<ul nz-menu nzMode="horizontal" class="chiaUL">
  <!-- tìm kiếm -->
  <li class="search">
    <nz-input-group [nzPrefix]="prefixTemplateUser">
      <!--[nzSuffix]="suffixTemplateInfo"-->

      <input
        type="text"
        nz-input
        placeholder="Tìm kiếm khóa học"
        [(ngModel)]="searchText"
      />
    </nz-input-group>

    <ng-template #prefixTemplateUser
      ><i nz-icon nzType="search" nzTheme="outline"></i>
    </ng-template>
  </li>
</ul>
<!-- kết thúc combobox -->

<!--Danh sách khóa học -->
<nz-list nzItemLayout="vertical">
  <nz-list-item
    *ngFor="
      let course of courses
        | filter: searchText
        | paginate: { itemsPerPage: 5, currentPage: page }
    "
    (click)="checkaccount(template, course.id)"
    class="div1 div2"
  >
    <nz-list-item-meta>
      <!-- ảnh -->
      <nz-list-item-meta-avatar class="classimg">
        <img src="{{ course.urlLink }}" />
      </nz-list-item-meta-avatar>
      <!-- tiêu đề-->
      <nz-list-item-meta-title>
        <h1 class="className">{{ course.name }}</h1>
      </nz-list-item-meta-title>
      <!-- mô ta -->
      <nz-list-item-meta-description>
        <p class="className">{{ course.description }}</p>
      </nz-list-item-meta-description>
    </nz-list-item-meta>

    <!--<div nz-row>-->
    <!--<div nz-col [nzSpan]="24" class="search-area">-->
    <!--<button nz-button id="status" [nzType]="'primary'" class="batDauHoc">-->
    <!--{{ course.status ? "Đang học" : "Chưa học" }}-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
  </nz-list-item>
</nz-list>
<!-- Kết thúc danh sách khóa học -->

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon"
        ><i class="fas fa-sign-in-alt"></i
      ></span>
      <div class="ant-notification-notice-message">
        Vui lòng đăng nhập tài khoản
      </div>
    </div>
  </div>
</ng-template>

<pagination-controls
  nextLabel=""
  previousLabel=""
  (pageChange)="page = $event"
></pagination-controls>
