<br><br>
<form nz-form [formGroup]="infomationChangeform" (ngSubmit)="infomationFormstep2()">
  <div style="margin: 0px 0px 0px 22%;">
    <div class="container-left">
      <div class="table-change-post-1" se-container="1" labelWidth="160">
        <se label="Họ tên đệm">{{ infomationLoad.familyName }}</se>
        <se label="Tên">{{ infomationLoad.displayName }}</se>
        <se label="Email đăng nhập">{{ infomationLoad.emailAddress }}</se>
        <se label="Ngày sinh">{{ infomationLoad.birthYear }}</se>
        <se label="Số điện thoại">{{ infomationLoad.phoneNumber }}</se>
        <se label="Thành phố">{{ infomationLoad.province }}</se>
        <se label="Địa chỉ">{{ infomationLoad.streetInformation }}</se>
      </div>
      <div class="table-change-post-2" se-container="1">
        <se label="Tên trung tâm">{{ infomationLoad.school }}</se>
        <se label="Chuyên dạy">{{ infomationLoad.department }}</se>
        <se label="Năm thành lập">{{ infomationLoad.grade }}</se>
        <se label="Chức vụ">{{ infomationLoad.position }}</se>
        <se label="Mô tả">
          <textarea nz-input type="text" class="input-table" name="lentgusser" placeholder="Giới thiệu"
            style="width: 300px;" [nzAutosize]="{ minRows: 4, maxRows: 10 }" class="input-table"
            readonly>{{ infomationLoad.summary }}</textarea>
        </se>
      </div>
    </div>
  </div>
  <div style=" margin: 50px 0px 0px 45%; ">
    <button nz-button (click)="prev()">Quay lại</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="loading">
      Gửi
    </button>
  </div>
</form>