<br><br>
<div style="margin-left: 20%;">
  <div class="container-left">
    <div class="table-change-post-1" se-container="1" labelWidth="160">
      <se label="Họ và tên">{{ bookchedule.familyName }}</se>
      <se label="Email">{{ bookchedule.emailAddress }}</se>
      <se label="Ngày sinh">{{ bookchedule.birthYear }}</se>
      <se label="Số điện thoại">{{ bookchedule.phoneNumber }}</se>
      <se label="Địa chỉ">{{ bookchedule.streetInformation }}, {{ bookchedule.province }}</se>
    </div>
    <div class="table-change-post-2" se-container="1">
      <se label="Tên Khoá học">{{ bookchedule.theCourseOfName }}</se>
      <se label="Giá khoá học">{{ bookchedule.price | currency:"VND"}} VNĐ</se>
      <se label="Thể loại">{{ bookchedule.category }}</se>
      <se label="Hình thức">{{ bookchedule.type }}</se>
    </div>
  </div>
</div>
<div style="width: 600px;margin-left: 30%;margin-top: 50px;" se-container="1" labelWidth="190">
  <se>
    <button nz-button (click)="prev()">Quay lại</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="showModal2()">
      Gửi
    </button>
  </se>
</div>
<nz-modal [(nzVisible)]="isVisible2" nzTitle="Hãy kiểm tra kỹ thông tin"
    (nzOnCancel)="cancel2()" [nzCancelText]="null" [nzOkText]="null" nzWidth="730px">
    <div style="text-align: center;">
        <h3>Bạn chắn chắn muốn gửi</h3>
        <button nz-button (click)="cancel2()">
            Huỷ
        </button>
        <button nz-button nzType="primary" (click)="checkdone()">
            Đồng ý
        </button>
    </div>
</nz-modal>