
  <br>
<div *ngFor="let com of comment">
  <div class="classThongTin">
    <img class="classImg" src="{{ com.avatar }}" />
    <p class="className">{{ com.reviewName }}</p>
    <p class="dateComment">{{ com.dateComment }}</p>
  </div>
  <p [innerHTML]="com.content">{{ com.content }}</p>
  <div>
    <nz-comment-action>
      <i
        class="fas fa-thumbs-up"
        id="{{ com.id }}"
        [nzTheme]="likes > 0 ? 'twotone' : 'outline'"
        (click)="like($event.target.id)"
      ></i>&nbsp;
      <span class="count like">{{ com.like }}</span>
    </nz-comment-action>
    <nz-comment-action>
      <i
        class="fas fa-thumbs-down"
        id="a{{ com.id }}"
        [nzTheme]="dislikes > 0 ? 'twotone' : 'outline'"
        (click)="dislike($event.target.id)"
      ></i>&nbsp;
      <span class="count dislike">{{ com.dislike }}</span>
    </nz-comment-action>

    <nz-comment-action>
      <i
        nz-popconfirm
        id="c{{ com.id }}"
        nzPopconfirmTitle="Bạn chắc chắn muốn sửa bình luận này?"
        (click)="clickDelete($event.target.id)"
        (nzOnConfirm)="confirmEdit()"
        (nzOnCancel)="cancel()"
        nzCancelText="Không"
        nzOkText="Có"
        class="fas fa-edit"
      ></i>
    </nz-comment-action>

    <nz-comment-action>
      <i
        nz-popconfirm
        id="b{{ com.id }}"
        nzPopconfirmTitle="Bạn chắc chắn muốn xóa bình luận này?"
        (click)="clickDelete($event.target.id)"
        (nzOnConfirm)="confirmDelete()"
        (nzOnCancel)="cancel()"
        nzCancelText="Không"
        nzOkText="Có"
        class="fas fa-trash-alt"
      ></i>
    </nz-comment-action>
  </div>
  <hr />
  <br>
  <br>
</div>

<h5>Bình luận</h5>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-control nzErrorTip="Vui lòng nhập nội dung!">
    <editor
      formControlName="content"
      id="content"
      [init]="tinymceInit"
      [(ngModel)]="disCommet.content"
    ></editor>
  </nz-form-control>
  <br />
  <button
    nz-button
    nzType="primary"
    [disabled]="!validateForm.valid"
    (click)="postComment(template)"
  >
    Bình luận
  </button>
</form>

<nz-modal
  id="modal"
  [(nzVisible)]="isVisible"
  [nzClosable]="false"
  nzCancelText="Quay lại"
  nzOkText="Lưu"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWidth="800px"
>
  <textarea
    [innerHTML]="disCommet2.content"
    [(ngModel)]="disCommet2.content"
  ></textarea>
</nz-modal>

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon"
        ><i class="fas fa-sign-in-alt"></i
      ></span>
      <div class="ant-notification-notice-message">
        Vui lòng đăng nhập tài khoản
      </div>
    </div>
  </div>
</ng-template>
