<nz-table #filterTable nzShowSizeChanger [nzData]="history" nzTableLayout="fixed">
    <thead>
        <tr>
            <th style="text-align: center;" *ngFor="let filter of filterData; trackBy: trackByName"
                [nzSortFn]="filter.sortFn" [nzFilters]="filter.filterTable" [nzFilterFn]="filter.filterFn">
                {{ filter.nameTitletable }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let history of filterTable.data; let i = index">
            <td *ngIf="!history.status">
                <a class="btn btn-default"><i class="glyphicon far fa-eye gly-spin"></i><br>Chưa xem
                </a>
            </td>
            <td *ngIf="history.status"><a>Đã xem
                </a>
            </td>
            <td><a routerLink="/money/subject-detail/{{ history.idCourseAffiliate }}">{{ history.theCourseOfName }}</a></td>
            <td>{{ history.category }}</td>
            <td>{{ history.type }}</td>
            <td>{{ history.price | currency:"VND"}} VNĐ</td>
        </tr>
    </tbody>
</nz-table>