<div style="width: 600px;margin-left: 40%;margin-top: 50px;" se-container="1" labelWidth="100">
  <se label="Số tiền nạp">{{ moneyupne | currency:"VND" }} VNĐ</se>
  <se label="Họ tên">{{ bookchedule.familyName }} {{ bookchedule.displayName }}</se>
  <se label="Email">{{ bookchedule.emailAddress }}</se>
  <se label="Số điện thoại">{{ bookchedule.phoneNumber }}</se>
  <se label="Địa chỉ">{{ bookchedule.streetInformation }}, {{ bookchedule.province }}</se>
  <div style="margin-left: 40px;">
    <button nz-button (click)="prev()">
      Quay lại
    </button>
    <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="open()">
      Xác nhận
    </button>
  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Thanh toán" (nzOnCancel)="handleOk()" [nzCancelText]="null"
    [nzOkText]="null" nzWidth="500px">
    <div style=" text-align: center;">
      <a>Bạn chắc chắn nạp <a class="a-check">{{ moneyupne | currency:"VND" }}</a> VNĐ vào tài khoản <a
          class="a-check">{{ bookchedule.emailAddress }}</a></a><br><br>
      <button style="width: 121px;" nz-button [nzSize]="size" nzShape="round" (click)="handleOk()">Huỷ</button>
      <button style="width: 121px;" nz-button nzType="primary" [nzSize]="size" nzShape="round"><a
          href="{{ linkVNP }}">Đúng vậy</a></button>
    </div>
  </nz-modal>
</div>