<nz-layout>
  <app-header class="alain-default__header"></app-header>
  <br /><br /><br />
  <nz-content>
    <nz-breadcrumb class="title-content">
    </nz-breadcrumb><br />
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>
