.app-layout {
  height: 100%;
  width: 100%;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

nz-content {
  margin: 24px;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  width: 1350px;
  margin: 0 auto;
}

nz-footer {
  text-align: center;
  margin-top: auto;
}
