#form2 {
  display: none;
}
#form3 {
  display: none;
}
#form4 {
  display: none;
}
#form5 {
  display: none;
}
.button-back {
  margin-top: 120px;
}
.infor-user {
  padding: 10px 20px;
  display: flex;
}
.signup-content-lock {
  padding: 60px;
}
.form-title-login {
  text-align: center;
}
.infor {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 20px;
  position: relative;
  box-shadow: 0 0 5px black;
  margin: 5px;
  margin-top: 20px;
  padding: 10px;
}

.infor .user-image {
  width: 50px;
  height: 50px;
}

.infor-user {
  display: flex;
  justify-content: space-between;
}

.detail {
  position: absolute;
  right: 3%;
  top: 18%;
  display: flex;
}

.detail .button-view {
  text-align: center;
  width: 120px;
  margin: 0 15px;
  padding: 8px 10px;
  border: 1px solid black;
  cursor: pointer;
}

.button-detail {
  position: absolute;
  right: 9.5%;
  bottom: 15%;
  text-align: center;
  width: 120px;
  margin: 0 15px;
  padding: 8px 10px;
  border: 1px solid black;
  cursor: pointer;
}
.textlock {
  margin-left: 42%;
}

.form-lock {
  margin-left: 25%;
}

.lock-input {
  width: 400px;
}
