<br><br><br><br>
<div class="container-login">
    <div class="signup-content-lock">
        <h2 class="form-title-login">Định dạng mật khẩu</h2>
        <div>
            <form id="form1" class="form-lock register-form-login" [formGroup]="validateForm"
                (ngSubmit)="xacNhanEmail()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng nhập tài khoản đúng định dạng">
                        <input class="lock-input" nz-input (click)="getText()" formControlName="emailAddress" id="email"
                            placeholder="Gmail" />
                    </nz-form-control>
                </nz-form-item>
                <label id="notEmail">Tài khoản email không tồn tại</label>
                <button nz-button class="form-submit-login" [nzType]="'primary'" [disabled]="!validateForm.valid"
                    (click)="xacNhanEmail()">
                    Xác nhận
                </button>
            </form>

            <!-- Form 2 -->
            <form nz-form id="form2" class="login-form">
                <div class="infor">
                    <fieldset>
                        <legend>Nhận diện tài khoản của bạn</legend>
                        <h6>Tài khoản phù hợp với kết quả tìm kiếm</h6>
                        <div class="infor-user">
                            <div>
                                <img class="user-image" [src]="account.avatar" />
                                <a>{{ account.familyName }}</a>
                            </div>
                            <button nz-button [nzType]="'primary'" (click)="btnDungVay()">
                                Tài khoản của tôi
                            </button>
                        </div>
                    </fieldset>
                    <button nz-button [nzType]="'primary'" class="button-back" (click)="btnKhongPhai()">
                        Quay lại
                    </button>
                </div>
            </form>

            <!-- Form 3 -->
            <form id="form3" class="form-lock login-form">
                <nz-form-item>
                    <nz-form-control nzErrorTip="">
                        <input class="lock-input" nz-input id="maXacNhan"
                            placeholder="Mã xác nhận" />
                    </nz-form-control>
                </nz-form-item>

                <button nz-button [nzType]="'primary'" (click)="btnXacNhan()">
                    Xác nhận
                </button>
            </form>

            <!-- From 4 -->
            <form id="form4" class="form-lock login-form" [formGroup]="validatePass" (ngSubmit)="submitPass()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu mới">
                        <nz-input-group class="lock-input" [nzSuffix]="suffixTemplate">
                            <input formControlName="password" (ngModelChange)="updateConfirmValidator()" id="password"
                                [type]="passwordVisible1 ? 'text' : 'password'" nz-input
                                placeholder="Nhập mật khẩu mới" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzErrorTip]="errorTpl">
                        <nz-input-group class="lock-input" [nzSuffix]="suffixTemplate2">
                            <input formControlName="repassword" id="checkPassword"
                                [type]="passwordVisible2 ? 'text' : 'password'" nz-input
                                placeholder="Nhập lại mật khẩu mới của bạn" />
                        </nz-input-group>
                        <ng-template #errorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Vui lòng nhập mật khẩu mới
                            </ng-container>
                            <ng-container *ngIf="control.hasError('confirm')">
                                Mật khẩu không trùng khớp
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible1 = !passwordVisible1"></i>
                </ng-template>

                <ng-template #suffixTemplate2>
                    <i nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible2 = !passwordVisible2"></i>
                </ng-template>

                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                    [disabled]="!validatePass.valid" (click)="btnDoiMatKhau()">
                    Đổi mật khẩu
                </button>
            </form>

            <form id="form5" class="login-form" [formGroup]="validatePass" (ngSubmit)="submitPass()">
                <result type="success" title="Thay đổi mật khẩu thành công" [extra]="resultExtra">
                    <button nz-button routerLink="/f-learn.poly/login" [nzType]="'primary'">
                        Đăng nhập
                    </button>
                </result>
            </form>
            <br />
            <a routerLink="/f-learn.poly/login" class="textlock">Tôi đã là thành viên</a>
        </div>
    </div>
</div>