<br><br>
<form nz-form [formGroup]="infomationChangeform" (ngSubmit)="infomationFormstep1()">
  <div style=" margin: 0px 0px 0px 5%; ">
    <div class="container-left">
      <div class="table-change-post-1" se-container="1" labelWidth="160">
        <se label="Họ tên đệm" error="Vui lòng nhập họ tên đệm" required>
          <input nz-input type="text" class="input-table" class="input-table" name="demname" placeholder="Họ tên đệm"
            [(ngModel)]="informationStep1.familyName" formControlName="familyName" (change)="checkTrimfamilyName()"
            required />
        </se>
        <se label="Tên" error="Vui lòng nhập tên" required>
          <input nz-input type="text" class="input-table" name="nameus" placeholder="Tên"
            [(ngModel)]="informationStep1.displayName" formControlName="displayName" (change)="checkTrimfamilyName()"
            required />
        </se>
        <se label="Email đăng nhập" error="Vui lòng nhập Email đăng nhập" required>
          <input nz-input type="text" class="input-table" name="useremaila" placeholder="Email"
            [(ngModel)]="informationStep1.emailAddress" formControlName="emailAddress" readonly />
        </se>
        <se label="Ngày sinh" error="Vui lòng chọn ngày sinh" required>
          <input nz-input type="date" class="input-table" name="userdate" [(ngModel)]="informationStep1.birthYear"
            formControlName="birthYear" required />
        </se>
        <se label="Số điện thoại" error="Vui lòng nhập số điện thoại" required>
          <input nz-input type="text" class="input-table" name="numberuser" placeholder="Số điện thoại"
            [(ngModel)]="informationStep1.phoneNumber" formControlName="phoneNumber" readonly />
        </se>
        <se label="Thành phố" error="Vui lòng nhập thành phố" required>
          <input nz-input type="text" class="input-table" name="numbercity" placeholder="Thành phố"
            [(ngModel)]="informationStep1.province" formControlName="province" required />
        </se>
        <se label="Địa chỉ" error="Vui lòng nhập địa chỉ" required>
          <input nz-input type="text" class="input-table" name="namestreetInformations" placeholder="Địa chỉ"
            [(ngModel)]="informationStep1.streetInformation" formControlName="streetInformation" required />
        </se>
      </div>
      <div class="table-change-post-2" se-container="1" labelWidth="300">
        <div *ngIf="!informationStep1.centralRight">
          <se label="Học trường" error="Vui lòng nhập trường đang học" required>
            <div style="margin: -47px 0px 0px 300px;">
              <input nz-input type="text" class="input-table" name="nameschoolss" placeholder="Tên trường đang học"
                [(ngModel)]="informationStep1.school" formControlName="school" required />
            </div>
          </se>
          <se label="Chuyên ngành" error="Vui lòng nhập chuyên ngành" required>
            <div style="margin: -47px 0px 0px 300px;">
              <input nz-input type="text" class="input-table" name="numbdepartmenter" placeholder="Học chuyên ngành"
                [(ngModel)]="informationStep1.department" formControlName="department" required />
            </div>
          </se>
          <se label="Khoá học" error="Vui lòng nhập khoá học" required>
            <div style="margin: -47px 0px 0px 300px;">
              <input nz-input type="text" class="input-table" name="namgradee" placeholder="Khoá học"
                [(ngModel)]="informationStep1.grade" formControlName="grade" required />
            </div>
          </se>
        </div>
        <div *ngIf="informationStep1.centralRight">
          <se label="Trung tâm" error="Vui lòng nhập tên trung tâm" required>
            <div style="margin: -47px 0px 0px 300px;">
              <input nz-input type="text" class="input-table" name="nameschoolss" placeholder="Tên trung tâm"
                [(ngModel)]="informationStep1.school" formControlName="school" required />
            </div>
          </se>
          <se label="Chuyên dạy" error="Vui lòng nhập chuyên dạy" required>
            <div style="margin: -47px 0px 0px 300px;">
              <input nz-input type="text" class="input-table" name="numbdepartmenter" placeholder="Chuyên dạy"
                [(ngModel)]="informationStep1.department" formControlName="department" required />
            </div>
          </se>
          <se label="Năm thành lập" error="Vui lòng nhập năm thành lập" required>
            <div style="margin: -47px 0px 0px 300px;">
              <input nz-input type="text" class="input-table" name="nagrademe" placeholder="Năm thành lập"
                [(ngModel)]="informationStep1.grade" formControlName="grade" required />
            </div>
          </se>
        </div>
        <se label="Chức vụ" error="Vui lòng chọn chức vụ" required>
          <input nz-input type="text" class="input-table" name="numberpositions" placeholder="Chức vụ"
            [(ngModel)]="informationStep1.position" formControlName="position" readonly />
        </se>
        <se label="Giới thiệu" nz-tooltip="Giới thiệu phải ngắn hơn 500 chữ" required>
          <nz-form-item>
              <nz-form-control [nzErrorTip]="dai">
                  <textarea nz-input type="text" placeholder="Giới thiệu"
                  [(ngModel)]="informationStep1.summary" formControlName="summary"
                      style="width: 300px;" [nzAutosize]="{ minRows: 4, maxRows: 10 }"
                      class="input-table"></textarea>
                  <ng-template #dai let-i>
                      <ng-container *ngIf="i.errors?.required">Vui lòng nhập mô tả
                      </ng-container>
                      <ng-container *ngIf="i.errors?.maxLength">
                      </ng-container>
                  </ng-template>
              </nz-form-control>
          </nz-form-item>
        </se>
      </div>
    </div>
  </div>
  <button style=" margin: 50px 0px 0px 44%; " nz-button routerLink="/f-learn.poly/user/information">
    Huỷ
  </button>
  <button style=" margin: 50px 0px 0px 1%; " nzType="primary" nz-button>
    Bước tiếp theo
  </button>
</form>