<result style="margin-top: 50px;" type="success" description="Đăng ký khoá học thành công" [extra]="resultExtra">
  <button nz-button class="ml-sm" routerLink="/money/user-history">
    Xem lịch sử đăng ký
  </button>
  <button nz-button (click)="item.again()" [nzType]="'primary'">
    Lần nữa
  </button>
</result>