[nz-form]:not(.ant-form-inline):not(.ant-form-vertical) {
  max-width: 600px;
}

.theDiv {
  display: flex;
  width: 1300px;
}

.doubledivQMK {
  border-style: double;
}

.doubledivDT {
  border-style: double;
  margin-left: 100px;
}

.canGiua {
  margin: 40px 100px;
}
table {
  width: 600px;
  height: 224px;
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.inputChangeName {
  margin-bottom: 55px;
}
