<div class="inner-content theDiv">
  <table class="kichThuoc doubledivQMK" nzTitle="Thay đổi thông tin">
    <div class="canGiua" *ngIf="use">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu !">
            <input nz-input type="password" formControlName="pass1" id="pass1" placeholder="Nhập mật khẩu của bạn  " />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu !">
            <input nz-input type="password" formControlName="pass2" id="pass2" placeholder="Nhập lại mật khẩu " />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="myFunction()">Đổi mật khẩu</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </table>

  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Vui lòng nhập mật khẩu bạn muốn thay đổi "
    [nzClosable]="false"
    [nzCancelText]="null"
    nzOkText="Ok"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    nzWidth="600px"
  >
    <input nz-input type="password" [(ngModel)]="use.password" id="pass3" placeholder="Nhập mật khẩu mới của bạn   " />
  </nz-modal>

  <!-- tab 2 -->
  <form nz-form [formGroup]="validateFormName" (ngSubmit)="submitFormName()">
    <table class="kichThuoc doubledivDT">
      <div class="canGiua" *ngIf="use">
        <nz-form-item>
          <nz-form-control class="inputChangeName" nzErrorTip="Vui long nhap ten nguoi dung moi">
            <input nz-input id="disName" formControlName="disName" [(ngModel)]="use.displayName" placeholder="Nhập tên người dùng mới" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateFormName.valid" (click)="updateName()">Doi ten</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </table>
  </form>
</div>
