.img-change-post-1 {
  width      : 200px;
  height     : 200px;
  margin-left: -50px;
}

.img-change-post-2 {
  width      : 200px;
  height     : 200px;
  margin-left: -150px;
}

.input-table {
  width: 300px;
}

.container-left {
  display              : grid;
  grid-template-columns: 460px 1fr;
}

.bnt-change-posst {
  left: 46%;
}

.table-change-post-1 {
  padding: 20px 0px 0px;
}

.table-change-post-2 {
  margin-top: -100px;
}

.fa-laugh-beam {
  color: rgb(84, 224, 138);
}

#test {
  height    : 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  width  : 100px;
  height : 100px;
  padding: 10px;
}