<form [formGroup]="postForm" (ngSubmit)="submit()">
    <div style="margin: 0px 0px 0px 7%;">
        <div class="container-left">
            <img class="img-change-post-1" [src]="link" />
            <div id="test" style="margin: 0px 0px 0px -300px; width: 370px;">
                <form nz-form [formGroup]="form">
                    <div formArrayName="items">
                        <span *ngFor="let data of listImage; let i = index">
                            <a (click)="del(i)"><i class="far fa-times-circle"></i></a>
                            <img src="{{ data }}" />
                        </span>
                    </div>
                </form>
            </div>
            <div class="table-change-post-1" se-container="1" labelWidth="160">
                <se label="Ảnh " required error="Vui lòng chọn ảnh chính">
                    <input type="file" formControlName="imagePreviewTitle" (change)="onSelectFile($event)" />
                </se>
                <se label="Danh sách ảnh mô tả " required error="Vui lòng chọn các ảnh mô tả">
                    <input type="file" formControlName="imagesList" (change)="onSelectFile2($event)" />
                </se>
                <se label="Tên khoá học " required error="Vui lòng nhập tên khoá học">
                    <input nz-input type="text" name="khoahoc" placeholder="Tên khoá học"
                        [(ngModel)]="post.theCourseOfName" formControlName="theCourseOfName" class="input-table"
                        required />
                </se>
                <se label="Giáo trình " error="Vui lòng nhập giáo trình" required>
                    <textarea nz-input type="text" placeholder="Giáo trình" [(ngModel)]="post.curriculum"
                        formControlName="curriculum" style="width: 300px;"
                        [nzAutosize]="{ minRows: 4, maxRows: 10 }" class="input-table"></textarea>
                </se>
                <se label="Mô tả ngắn " nz-tooltip="Mô tả phải ngắn hơn 400 chữ" required>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="ngan">
                            <textarea nz-input type="text" placeholder="Mô tả ngắn" [(ngModel)]="post.shortDescription"
                                formControlName="shortDescription" style="width: 300px;"
                                [nzAutosize]="{ minRows: 4, maxRows: 10 }" class="input-table"></textarea>
                            <ng-template #ngan let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập mô tả
                                </ng-container>
                                <ng-container *ngIf="i.errors?.maxLength">
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </se>
            </div>
            <div style="margin: -200px -16px 0px 0px;" class="table-change-post-2" se-container="1" labelWidth="300">
                <se label="Level " required error="Vui lòng chọn level">
                    <nz-select [(ngModel)]="post.level" formControlName="level" class="input-table" required>
                        <nz-option [nzLabel]="'Học thử'" [nzValue]="'Học thử'"></nz-option>
                        <nz-option [nzLabel]="'Cơ bản'" [nzValue]="'Cơ bản'"></nz-option>
                        <nz-option [nzLabel]="'Nâng cao'" [nzValue]="'Nâng cao'"></nz-option>
                    </nz-select>
                </se>
                <se label="Hình thức học " required error="Chọn hình thức học">
                    <nz-select [(ngModel)]="post.type" formControlName="type" class="input-table" required>
                        <nz-option [nzLabel]="'OnLine'" [nzValue]="'OnLine'"></nz-option>
                        <nz-option [nzLabel]="'OffLine'" [nzValue]="'OffLine'"></nz-option>
                    </nz-select>
                </se>
                <se label="Thể loại " required error="Chọn hình thể loại">
                    <nz-select [(ngModel)]="post.category" formControlName="category" class="input-table" required>
                        <nz-option [nzLabel]="'JAVA'" [nzValue]="'JAVA'"></nz-option>
                        <nz-option [nzLabel]="'SQL'" [nzValue]="'SQL'"></nz-option>
                        <nz-option [nzLabel]="'PHP'" [nzValue]="'PHP'"></nz-option>
                        <nz-option [nzLabel]="'C++'" [nzValue]="'C++'"></nz-option>
                    </nz-select>
                </se>
                <se label="Thời lượng học " required error="Vui lòng chọn Thời lượng học">
                    <nz-select [(ngModel)]="post.totalStudyTime" formControlName="totalStudyTime" class="input-table"
                        required>
                        <nz-option [nzLabel]="'15 ngày'" [nzValue]="'15 ngày'"></nz-option>
                        <nz-option [nzLabel]="'1 tháng'" [nzValue]="'1 tháng'"></nz-option>
                        <nz-option [nzLabel]="'2 tháng'" [nzValue]="'2 tháng'"></nz-option>
                        <nz-option [nzLabel]="'4 tháng'" [nzValue]="'4 tháng'"></nz-option>
                        <nz-option [nzLabel]="'6 tháng'" [nzValue]="'6 tháng'"></nz-option>
                    </nz-select>
                </se>
                <se label="Giá khoá học " required>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="gia">
                            <input nz-input type="text" name="giahoc" placeholder="Giá khoá học"
                                [(ngModel)]="post.price" formControlName="price" class="input-table" required />
                            <ng-template #gia let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập giá khoá học
                                </ng-container>
                                <ng-container *ngIf="i.errors?.pattern">Vui lòng nhập số
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </se>
                <se label="Lượng học viên mỗi lớp " required>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="hocsinh">
                            <input nz-input type="text" name="hocsinh2" placeholder="Lượng học viên mỗi lớp"
                                [(ngModel)]="post.participantOfNumber" formControlName="participantOfNumber"
                                class="input-table" required />
                            <ng-template #hocsinh let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập lượng học viên
                                </ng-container>
                                <ng-container *ngIf="i.errors?.pattern">Vui lòng nhập số
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </se>
                <se label="Số lượng bài học " required>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="soluong">
                            <input nz-input type="text" name="soluonghoc" placeholder="Số lượng bài học"
                                [(ngModel)]="post.itemsOfNumber" formControlName="itemsOfNumber" class="input-table"
                                required />
                            <ng-template #soluong let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập lượng bài học
                                </ng-container>
                                <ng-container *ngIf="i.errors?.pattern">Vui lòng nhập số
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </se>
                <se label="Mô tả dài " nz-tooltip="Mô tả phải ngắn hơn 1000 chữ" required>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="dai">
                            <textarea nz-input type="text" placeholder="Mô tả dài" [(ngModel)]="post.longDescription"
                                formControlName="longDescription" style="width: 300px;"
                                [nzAutosize]="{ minRows: 4, maxRows: 10 }" class="input-table"></textarea>
                            <ng-template #dai let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập mô tả
                                </ng-container>
                                <ng-container *ngIf="i.errors?.maxLength">
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </se>
            </div>
        </div>
    </div>
    <br />
    <button nz-button [nzSize]="size" class="bnt-change-posst" routerLink="/money/manage-post">
        Huỷ</button>
    <button nz-button [nzSize]="size" nzType="primary" class="bnt-change-posst" [nzLoading]="loading">
        Thêm</button><br /><br />
</form>
<nz-modal [(nzVisible)]="isVisible1" nzTitle="Tài khoản của bản không đủ" (nzOnCancel)="cancel()" [nzCancelText]="null"
    [nzOkText]="null" nzWidth="730px">
    <div style="text-align: center;">
        <h3>Bạn hãy nạp thêm tiền vào tài khoản để sử dụng dịch vụ này</h3>
        <button nz-button (click)="cancel()">
            Huỷ
        </button>
        <button nz-button nzType="primary" routerLink="/f-learn.poly/money-change">
            Nạp tiền
        </button>
    </div>
</nz-modal>
<nz-modal [(nzVisible)]="isVisible2" nzTitle="Để sử dụng dịch vụ tài khoản của bạn sẽ bị trừ đi 100.000 VNĐ"
    (nzOnCancel)="cancel2()" [nzCancelText]="null" [nzOkText]="null" nzWidth="730px">
    <div style="text-align: center;">
        <h3>Bạn đồng ý chứ ??</h3>
        <button nz-button (click)="cancel2()">
            Huỷ
        </button>
        <button nz-button nzType="primary" (click)="doneupcoureaff(template)">
            Đồng ý
        </button>
    </div>
</nz-modal>
<ng-template #template>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon"><i class="far fa-laugh-beam"></i></span>
            <div class="ant-notification-notice-message">Cảm ơn bạn đã sử dụng dịch vụ</div>
        </div>
    </div>
</ng-template>