<div class="alain-default__content-title" xmlns="">
  <h1>
    <a routerLink="/f-learn.poly/home">Trang chủ </a>
    <a routerLink="/f-learn.poly/confession-share">/ Chia sẻ Confession</a>
  </h1>
</div>

<form
  nz-form
  class="login-form"
  [formGroup]="validateForm"
  (ngSubmit)="submitForm()"
>
  <div>
    <h2>Chia sẻ những thắc mắc và tâm sự của bạn đến với chúng tôi.</h2>
  </div>
  <div>
    <p>Viết ngay, post liền tay nhé :3</p>
  </div>
  <nz-form-item>
    <nz-form-label><h5>Nội dung</h5></nz-form-label>
    <br />
    <nz-form-control nzErrorTip="Vui lòng nhập nội dung">
      <textarea formControlName="content" [(ngModel)]="confession.content">
      </textarea>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary">Hủy</button>
  <button
    nz-button
    nzType="primary"
    [disabled]="!validateForm.valid"
    (click)="shareConfession()"
  >
    Gửi bài
  </button>
</form>
