<!-- <shopping-cart2 [products]="cartProductList" (productRemoved)="removeProduct($event)"></shopping-cart2> -->
<page-header [title]="'Danh sách các khóa học liên kết'" [action]="action" [tab]="tab">
    <ng-template #action>
        <div class="card-item-content">
            <div class="box">
                <input class="subject-input" type="text" placeholder="Tìm kiếm khoá học" autocomplete="off"
                    [(ngModel)]="searchText" />
                <a style=" color: white " class="subject-a"><i nz-icon nzType="search" nzTheme="outline"></i></a>
            </div>
        </div>
    </ng-template>
</page-header>
<nz-list [nzLoading]="loading" [nzDataSource]="posts 
| filter: searchText
| paginate: { itemsPerPage: 9, currentPage: page }" [nzRenderItem]="item"
    [nzGrid]="{ gutter: 24, lg: 8, md: 12, sm: 24, xs: 24 }">
    <ng-template #item let-item>
        <nz-list-item [routerLink]="['/money/subject-detail', item.id]">
            <nz-card style=" background-color: #fbffc6; " nzHoverable *ngIf="item !== null" [nzActions]="[op1, op2]">
                <ng-template #op1>
                    <a>{{ item.price | currency:"VND" }}&nbsp;&nbsp;VNĐ</a>
                </ng-template>
                <ng-template #op2>
                    <a [routerLink]="['/money/subject-detail', item.id]">Xem chi tiết</a>
                </ng-template>
                <nz-card-meta [nzAvatar]="nzAvatar" [nzTitle]="nzTitle" [nzDescription]="nzDescription">
                    <ng-template #nzAvatar>
                        <nz-avatar nzSize="large" [nzSrc]="item.imagePreviewTitle"></nz-avatar>
                    </ng-template>
                    <ng-template #nzTitle>
                        <a>{{ item.theCourseOfName }}</a>
                    </ng-template>
                    <ng-template #nzDescription>
                        <div style=" height: 90px; ">
                            <ellipsis [innerHTML]="item.shortDescription.slice(0, 160) + '...'">{{ item.shortDescription.slice(0, 160) + '...' }}</ellipsis>
                        </div>
                        <p>Thời gian đăng:<a>&nbsp;{{ item.registrationPeriod }}</a></p>
                    </ng-template>
                </nz-card-meta>
            </nz-card>
        </nz-list-item>
    </ng-template>
</nz-list>
<pagination-controls 
nextLabel=""
previousLabel="" 
(pageChange)="page = $event"></pagination-controls>