<nz-layout class="classLayout">
  <nz-sider nzCollapsible nzTheme="light" id="sessionDetail">
    <ul nz-menu nzTheme="light" nzMode="inline" *ngIf="session">
      <li nz-submenu *ngIf="theory" nzTitle="{{ session.title }}">
        <ul>
          <li nz-menu-item *ngFor="let theo of theory" routerLink="/f-learn.poly/session/{{ session.id }}/{{ session.id }}/theorys">
            {{ theo.title }}
          </li>
          <li nz-menu-item *ngFor="let q of quiz" routerLink="/f-learn.poly/session/{{ session.id }}/{{ session.id }}/{{ q.id }}/questions">
            {{ q.reviewName }}
          </li>
          <li nz-menu-item *ngFor="let e of exe" routerLink="/f-learn.poly/session/{{ session.id }}/{{ session.id }}/{{ e.id }}/exercises">
            {{ e.title }}
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout id="contentLayout" class="classContent1">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <nz-layout class="classContent2">
    <nz-content>
      <app-rank></app-rank>
    </nz-content>
  </nz-layout>
</nz-layout>
