.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}
ul {
  width: 300px;
}
.classLayout {
  display: flex;
}
.classContent1 {
  border-style: outset;
  width: 50%;
}
.classContent2 {
  height: 830px;
  border-style: outset;
  width: 25%;
  margin-left: 5%;
}
