<a nz-button nzType="primary" routerLink="/money/post-add" class="bnt-history">Thêm</a>
<nz-table #filterTable [nzData]="Courseaffiliate" nzTableLayout="fixed">
    <thead>
        <tr>
            <th style="text-align: center; width: 100px;">Tình trạng</th>
            <th style="text-align: center;" *ngFor="let filter of filterData; trackBy: trackByName"
                [nzSortFn]="filter.sortFn" [nzFilters]="filter.filterTable" [nzFilterFn]="filter.filterFn">
                {{ filter.nameTitletable }}
            </th>
            <th style="width: 300px; text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let data of filterTable.data; let i = index">
        <tr *ngIf="!data.checkdelete">
            <td *ngIf="!data.check">
                <a style="color: red;">Không có ĐK mới</a>
            </td>
            <td *ngIf="data.check">
                <a class="btn btn-default" style="color: #4cd643;"><i class="glyphicon far fa-eye gly-spin"></i><br>Có
                    đăng ký mới
                </a>
            </td>
            <td routerLink="/money/subject-detail/{{ data.id }}">
                <a>{{ data.theCourseOfName }}</a>
            </td>
            <td>{{ data.price | currency:"VND"}}</td>
            <td>{{ data.category }}</td>
            <td>{{ data.totalStudyTime }}</td>
            <div *ngIf="data.status" style=" margin-left: 50px; margin-top: 30px; ">
                <td style="color: rgb(87 208 47);">{{ data.status ? 'Đã duyệt' : 'Chưa duyệt' }}</td>
            </div>
            <div *ngIf="!data.status" style=" margin-left: 43px; margin-top: 30px; ">
                <td nz-tooltip="Lý do khoá học chưa được đăng">
                    <a style="color: rgb(253, 97, 97);" (click)="showModalcheck(data.id)">{{ data.status ? 'Đã duyệt' : 'Chưa
                        duyệt' }}</a>
                </td>
                <nz-modal [(nzVisible)]="isVisiblecheck" nzTitle="Phản hồi từ admin" [nzCancelText]="null"
                    [nzOkText]="null" (nzOnCancel)="handleOkcheck()" nzWidth="800px">
                    <div id="test">
                        <a>{{ showtitle.feedback }}</a>
                    </div>
                </nz-modal>
            </div>
            <td>
                <a nz-button nzType="primary" routerLink="/money/post-show/{{ data.id }}">Xem</a>
                <a nz-button nzType="primary" routerLink="/money/post-edit/{{ data.id }}">Sửa</a>
                <a nz-button nzType="primary" (click)="deletePost(data.id)">Xoá</a>
            </td>
        </tr>
    </tbody>
</nz-table>