.div1{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.div2{
  margin-top: 20px;
}
.divPhai{
  font-size: 10px;
  font-family: GothamRounded;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  float: right;
  overflow: hidden;
}
.divTrai{
  font-size: 10px;
  font-family: GothamRounded;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  float: left;
  overflow: hidden;
}
.lesson{
  font-size: 10px;
  font-family: GothamRounded;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  margin-bottom: 15px;
}

.lessonContent{
  font-size: 10px;
  font-family: GothamRounded;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
.module{
  font-size: 10px;
  font-family: GothamRounded;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
.courseModule{
  font-size: 10px;
  font-family: GothamRounded;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 15px;
}
.courseLesson{
  font-size: 10px;
  font-family: GothamRounded;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.lessonLeft{
  font-family: GothamRounded;
  color: inherit;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  float: left;
  overflow: hidden;
}
.lessonRight{
  font-size: 30px;
  font-family: GothamRounded;
  color: inherit;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  float: right;
  overflow: hidden;
}
.marginContent{
  margin-top: 15px;
}
a:hover, h4:hover{
  color: blue;
}
