<body>
  <div class="div1" *ngIf="courses">
    <h1>{{ courses.name }}</h1>
    <p>{{ courses.description }}</p>
  </div>

  <div class="div1 div2">
    <div class="lesson">
      <div class="divTrai">
        <h1>Bài học</h1>
      </div>
      <div class="divPhai">
        <h1>Câu hỏi</h1>
      </div>
    </div>
    <div class="lessonContent">
      <div class="module">
        <div class="courseModule">
          <h3 class="marginContent">Nội dung chính</h3>
        </div>
        <div class="courseLesson" *ngFor="let se of sess">
          <a routerLink="/f-learn.poly/session/{{ se.id }}/{{ se.id }}">
            <div class="lessonLeft">
              <h4 class="marginContent">{{ se.title }}</h4>
            </div>
            <div class="lessonRight">
              <i nz-icon nzType="question-circle"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
