<br><br>
<form [formGroup]="postForm" (ngSubmit)="submit()">
    <div style="margin-left: 5%;">
        <div class="container-left">
            <div class="table-change-post-1" se-container="1" labelWidth="160">
                <se label="Họ tên đầy đủ " required error="Vui lòng nhập họ tên đầy đủ">
                    <input nz-input type="text" name="totalStudyTime" placeholder="Họ tên" [(ngModel)]="post.familyName"
                        formControlName="familyName" class="input-table" required />
                </se>
                <se label="Tên khoá học " required error="Vui lòng nhập tên bài">
                    <input nz-input type="text" name="namTbne" placeholder="Tên bài tập"
                        [(ngModel)]="post.theCourseOfName" formControlName="theCourseOfName" class="input-table"
                        readonly />
                </se>
                <se label="Giá khoá học " required error="Vui lòng nhập giá khoá học">
                    <input nz-input type="text" name="prGijice" placeholder="Giá khoá học" [(ngModel)]="post.price"
                        formControlName="price" class="input-table" readonly />
                </se>
                <se label="Thể loại " required error="Vui lòng nhập thể loại">
                    <input nz-input type="text" name="namThhe" placeholder="Thể loại" [(ngModel)]="post.category"
                        formControlName="category" class="input-table" readonly />
                </se>
                <se label="Hình thức học" required error="Vui lòng nhập hình thức học">
                    <input nz-input type="text" name="tHnhnhype" placeholder="Hình thức học" [(ngModel)]="post.type"
                        formControlName="type" class="input-table" readonly />
                </se>
            </div>
            <div class="table-change-datacouraffi-2" se-container="1" labelWidth="300">
                <se label="Email" required error="Vui lòng nhập email">
                    <input nz-input type="text" name="priEmailce" placeholder="Email" [(ngModel)]="post.emailAddress"
                        formControlName="emailAddress" class="input-table" required />
                </se>
                <se label="Ngày sinh " required error="Vui lòng nhập ngày sinh">
                    <input nz-input type="date" name="urNgnyl" placeholder="Ngày sinh" [(ngModel)]="post.birthYear"
                        formControlName="birthYear" class="input-table" required />
                </se>
                <se label="Số điện thoại" required>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="phone">
                            <nz-input-group nzSize="large">
                                <input nz-input type="text" class="input-table"  nz-tooltip="Số điện thoại gồm 10 số"
                                    [(ngModel)]="post.phoneNumber" formControlName="phoneNumber"
                                    placeholder="Số điện thoại" id="phoneNumber-register" />
                            </nz-input-group>
                            <ng-template #phone let-i>
                                <ng-container *ngIf="i.errors?.required">Vui lòng nhập số điện thoại
                                </ng-container>
                                <ng-container *ngIf="i.errors?.minLength">Vui lòng nhập đúng định dạng số điện thoại
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </se>
                <se label="Địa chỉ " required error="Vui lòng nhập địa chỉ">
                    <input nz-input type="text" name="urcĐmal" placeholder="Địa chỉ"
                        [(ngModel)]="post.streetInformation" formControlName="streetInformation" class="input-table"
                        required />
                </se>
                <se label="Tỉnh " required error="Vui lòng nhập tỉnh">
                    <input nz-input type="text" name="uchkkrl" placeholder="Tỉnh" [(ngModel)]="post.province"
                        formControlName="province" class="input-table" required />
                </se>
            </div>
        </div>
    </div>
    <br />
    <button nz-button [nzSize]="size" class="bnt-change-posst" routerLink="/money/subject-detail/{{ idcoureaffi }}">
        Huỷ</button>
    <button nz-button [nzSize]="size" nzType="primary" class="bnt-change-posst" [nzLoading]="loading">
        Gửi</button>
</form>