.img-change-post-1 {
    width: 150px;
    height: 150px;
    margin-left: 80px;
  }
  .img-change-post-2 {
    width: 150px;
    height: 150px;
    margin-left: -150px;
  }
  .input-table {
    width: 300px;
  }
  .container-left {
    display: grid;
    grid-template-columns: 460px 1fr;
  }
  .bnt-change-posst {
    left: 46%;
  }
  .table-change-post-1{
    padding: 20px 0px 0px;
  }